In [1]:
#!/usr/bin/env python3
import re  # For preprocessing
import pandas as pd  # For data handling
from time import time  # To time our operations
from collections import defaultdict  # For word frequency

import spacy  # For preprocessing
import en_core_web_sm

#gensim library: Word2Vec
from gensim.models.phrases import Phrases, Phraser
from gensim.models import Word2Vec

#vizualization
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
 
import seaborn as sns
sns.set_style("darkgrid")

#clustering
from sklearn.cluster import KMeans

#Dimensionality reduction
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

import logging  # Setting up the loggings to monitor gensim
logging.basicConfig(format="%(levelname)s - %(asctime)s: %(message)s", datefmt= '%H:%M:%S', level=logging.INFO)

from sklearn.preprocessing import StandardScaler #scale arrays
import itertools
import multiprocessing #speed up computing
import os #saving & loading models

In [2]:
df_75 = pd.read_csv('procurement_enterprise_sg.csv')
df_75.shape

(254315, 6)

In [3]:
df_75.tail()

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year
254310,311280,Conceptualisation And Design For URA 2019 Exhi...,Professional Services,Services,December,2018
254311,311281,"Term Contract For Supply, Installation And Mai...","Building, M&E Maintenance",Facilities Management,December,2018
254312,311282,Term Contract For Electrical Minor Works For M...,"Building, M&E Maintenance",Facilities Management,December,2018
254313,311283,Term Contract For Soil Investigation Works For...,Soil Investigation & Stabilization,Construction,December,2018
254314,311284,Renewal Of Backup Software Licences Maintenance,Softwares & Licences,IT & Telecommunication,December,2018

In [4]:
df_25 = pd.read_csv('procurement_enterprise_sg2.csv')
df_25.shape

(56969, 6)

In [5]:
df_25.tail()

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year
56964,283755,Customer Satisfaction Survey 2012,Survey Services,Administration & Training,December,2012
56965,283756,"SURVEY OPERATIONS, DATA COLLECTION, DATA MANAG...",Survey Services,Administration & Training,December,2012
56966,283757,Office Rennovation,General Building & Minor Construction Works,Construction,November,2012
56967,283758,Provision of services to conduct surveys for C...,Survey Services,Administration & Training,December,2012
56968,283759,Provision of Custodian Services,Professional Services,Services,November,2012

In [6]:
# combine data
df = pd.concat([df_25, df_75], ignore_index=True)
df.shape

(311284, 6)

In [7]:
df.head()

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year
0,1,Provision of Training Programme,Courses,Administration & Training,January,2012
1,2,Purchase of IT and AV products,"Ticketing, Travel Services, Tours & Excursions",Transportation,January,2012
2,3,Provision of foldable trapezium-shaped tables ...,Furniture,"Furniture, Office Equipment & Audio-Visual",January,2012
3,4,OYEA 2012 Advertisement in The Straits Times.,Advertising Services,Services,January,2012
4,5,Provision of Professional Services for the des...,Courses,Administration & Training,January,2012

In [8]:
df.tail()

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year
311279,311280,Conceptualisation And Design For URA 2019 Exhi...,Professional Services,Services,December,2018
311280,311281,"Term Contract For Supply, Installation And Mai...","Building, M&E Maintenance",Facilities Management,December,2018
311281,311282,Term Contract For Electrical Minor Works For M...,"Building, M&E Maintenance",Facilities Management,December,2018
311282,311283,Term Contract For Soil Investigation Works For...,Soil Investigation & Stabilization,Construction,December,2018
311283,311284,Renewal Of Backup Software Licences Maintenance,Softwares & Licences,IT & Telecommunication,December,2018

In [9]:
df[56967:56970]

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year
56967,283758,Provision of services to conduct surveys for C...,Survey Services,Administration & Training,December,2012
56968,283759,Provision of Custodian Services,Professional Services,Services,November,2012
56969,52568,Engagement of Video-recording services for the...,Professional Services,Services,January,2013

In [10]:
df.describe()

                 s/n     Award Year
count  311284.000000  311284.000000
mean   155642.500000    2014.467872
std     89860.094935       1.859220
min         1.000000    2012.000000
25%     77821.750000    2013.000000
50%    155642.500000    2014.000000
75%    233463.250000    2016.000000
max    311284.000000    2018.000000

In [11]:
# consolidate 2012-2018
# df.to_csv('procurement_enterprise_sg3.csv', index=False)

In [12]:
#df with text (quotation combined with category)
pd.set_option('display.max_colwidth', -1)
df1 = pd.DataFrame({'s/n':df['s/n'],'text': df['Quotation Description']+ ' '+ df['Category']})
# df_text = df_text.dropna().drop_duplicates()
df1.shape

(311284, 2)

In [13]:
df1.head()

,s/n,text
0,1,Provision of Training Programme Courses
1,2,"Purchase of IT and AV products Ticketing, Travel Services, Tours & Excursions"
2,3,Provision of foldable trapezium-shaped tables with casters Furniture
3,4,OYEA 2012 Advertisement in The Straits Times. Advertising Services
4,5,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST). Courses

In [14]:
df1.isnull().sum()

s/n     0
text    5
dtype: int64

In [154]:
df2 = df1[['text']].drop_duplicates().dropna().reset_index(drop=True)
df2.isnull().sum()

text    0
dtype: int64

In [155]:
df2.shape

(291208, 1)

In [23]:
# import en_core_web_sm
nlp = en_core_web_sm.load(disable=['ner', 'parser'])

In [24]:
# doc needs to be a spacy Doc object
def cleaning(doc):
    # Lemmatizes and removes stopwords (allow others)
    txt = [token.lemma_ for token in doc if not token.is_stop] #...and token is not 'others'
    # Word2Vec uses context words to learn the vector representation of a target word,
    # if a sentence is only one or two words long,
    # the benefit for the training is very small
    if len(txt) > 2:
        return ' '.join(txt)

In [25]:
# Removes non-alphabetic characters:
brief_cleaning = (re.sub("[^A-Za-z_']+", ' ', str(row)).lower() for row in df2['text'])

In [26]:
bf_list = list(brief_cleaning)

In [27]:
bf_list[:5]

['provision of training programme courses',
 'purchase of it and av products ticketing travel services tours excursions',
 'provision of foldable trapezium shaped tables with casters furniture',
 'oyea advertisement in the straits times advertising services',
 'provision of professional services for the design and delivery of a strategic alignment workshop for leaders of academy of singapore teachers ast courses']

In [28]:
# Clean text
t = time()
txt = [cleaning(doc) for doc in nlp.pipe(bf_list, batch_size=5000, n_threads=-1)]
print('Time to clean up everything: {} mins'.format(round((time() - t) / 60, 2)))

Time to clean up everything: 10.05 mins

In [29]:
len(txt)

291208

In [156]:
df2['text2'] = txt

In [298]:
# .drop_duplicates().dropna().reset_index(drop=True)
df2= df2.dropna().drop_duplicates().reset_index(drop=True)
df2.shape, df2.isnull().sum()

((291020, 2), text     0
 text2    0
 dtype: int64)

In [299]:
df2.head()

,text,text2
0,Provision of Training Programme Courses,provision training programme course
1,"Purchase of IT and AV products Ticketing, Travel Services, Tours & Excursions",purchase av product ticket travel service tour excursion
2,Provision of foldable trapezium-shaped tables with casters Furniture,provision foldable trapezium shaped table caster furniture
3,OYEA 2012 Advertisement in The Straits Times. Advertising Services,oyea advertisement strait time advertising service
4,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST). Courses,provision professional service design delivery strategic alignment workshop leader academy singapore teacher ast course

In [158]:
df2.shape

(291208, 2)

In [34]:
df_word = pd.read_csv('procurement_word2vec_output_4.csv')
df_word.shape

(100045, 10)

In [35]:
df_word1 = df_word[df_word.is_target_word==1][['word','cluster_3']]
df_word1.shape

(9095, 2)

In [36]:
df_word1.head()

               word  cluster_3
0   engagement       5
11  video_recording  9
22  service          5
33  seminar          113
44  jan              9999

In [37]:
word_formatted = []
for word in df_word1.word:
    if '_' in word:
        formatted_word = word.replace('_',' ')
        word_formatted.append(formatted_word)
    else:
        word_formatted.append(word)
len(word_formatted)

9095

In [38]:
df_word1.insert(1, "word_2", word_formatted)

In [39]:
df_word1.head()

               word           word_2  cluster_3
0   engagement       engagement       5
11  video_recording  video recording  9
22  service          service          5
33  seminar          seminar          113
44  jan              jan              9999

In [47]:
df_word2 = df_word1[(df_word1.word == df_word1.word_2) & (df_word1.cluster_3 != 9999)]
df_word2 = df_word2[['word_2','cluster_3']].reset_index(drop=True)
df_word2.shape

(5185, 2)

In [48]:
df_word2.head()

       word_2  cluster_3
0  engagement  5
1  service     5
2  seminar     113
3  supply      2
4  install     128

In [67]:
#cluster meaning
cluster_dict = {
    0: 'Specialised software',
    1: 'Non-Engineering Services',
    2: 'School-related purchases',
    3: 'Events',
    4: 'Laboratory Equipments',
    5: 'Professional Advisory Services',
    6: 'Community Development',
    7: 'Equipments',
    8: 'Security and Facility Management Services',
    9: 'Courses',
    102: 'Outdoor Services/Nature',
    104: 'Laboratory Equipments',
    105: 'Printed Media',
    106: 'IT Software/License',
    107: 'Travel',
    108: 'Urban Development',
    109: 'Courses',
    111: 'Music Equipments/Trainers',
    113: 'Events',
    120: 'Home Appliances',
    124: 'School CCA',
    125: 'Engineering Services/Equipments',
    127: 'Office Supplies/IT Equipments',
    128: 'Renovation'
#     9999: 'To Remove'    
}
len(cluster_dict)

24

In [68]:
df_cluster_dict = pd.DataFrame.from_dict(cluster_dict, orient='index').reset_index()
df_cluster_dict.columns = ['cluster_3', 'cluster_meaning']

In [69]:
df_cluster_dict

    cluster_3                            cluster_meaning
0   0          Specialised software
1   1          Non-Engineering Services
2   2          School-related purchases
3   3          Events
4   4          Laboratory Equipments
5   5          Professional Advisory Services
6   6          Community Development
7   7          Equipments
8   8          Security and Facility Management Services
9   9          Courses
10  102        Outdoor Services/Nature
11  104        Laboratory Equipments
12  105        Printed Media
13  106        IT Software/License
14  107        Travel
15  108        Urban Development
16  109        Courses
17  111        Music Equipments/Trainers
18  113        Events
19  120        Home Appliances
20  124        School CCA
21  125        Engineering Services/Equipments
22  127        Office Supplies/IT Equipments
23  128        Renovation

In [70]:
df_word3 = pd.merge(df_word2, df_cluster_dict, how='left', on=['cluster_3'])

In [71]:
df_word3.shape

(5185, 3)

In [72]:
df_word3.head()

       word_2  cluster_3                 cluster_meaning
0  engagement  5          Professional Advisory Services
1  service     5          Professional Advisory Services
2  seminar     113        Events
3  supply      2          School-related purchases
4  install     128        Renovation

In [55]:
df_word3[df_word3.word_2 == 'design production']

Empty DataFrame
Columns: [word_2, cluster_3, cluster_meaning]
Index: []

In [73]:
df_word3[df_word3['word_2'].str.contains("service")].sort_values(by=['cluster_meaning'])

    word_2  cluster_3                 cluster_meaning
1  service  5          Professional Advisory Services

In [112]:
def cluster(word):
    return df_word3[df_word3.word_2==word].cluster_meaning.tolist()[0] 
#     return df_word3[df_word3.word_2==word].cluster_meaning.tolist()[0]+' ('+str(df_word3[df_word3.word_2==word].cluster_3.tolist()[0])+')' 
word = 'service'
cluster(word)

'Professional Advisory Services'

In [111]:
def cluster_set(text):
    return ", ".join(sorted(list(set([cluster(word) for word in text.split() if word in df_word3.word_2.tolist()]))))

text = 'oyea provision design production delivery food nutrition teaching learning guide printing service jan'
cluster_set(text)

'Community Development, Courses, Events, Laboratory Equipments, Printed Media, Professional Advisory Services, School-related purchases'

In [161]:
df2.shape

(291208, 2)

In [162]:
df_test = df2[:1000]
df_test.shape

(1000, 2)

In [163]:
input_list = df_test.text2.tolist()
len(input_list)

1000

In [281]:
# cluster text
t = time()
cluster_sets = [cluster_set(str(doc)) for doc in nlp.pipe(input_list, batch_size=5000, n_threads=-1)]
print('Time to clean up everything: {} mins'.format(round((time() - t) / 60, 2)))

KeyboardInterrupt:

In [165]:
cluster_sets[-1]

'Music Equipments/Trainers, Professional Advisory Services'

In [166]:
input_list[-1]

'hougang secondary school gamelan instructor period jan december professional service'

In [167]:
df_word3[df_word3.word_2 == 'gamelan']

      word_2  cluster_3            cluster_meaning
548  gamelan  111        Music Equipments/Trainers

In [168]:
df_test.tail(1)

,text,text2
999,Hougang Secondary School - Gamelan Instructor. Period: 3 Jan 2012 to 31 December 2012 Professional Services,hougang secondary school gamelan instructor period jan december professional service

In [120]:
df_word_all = pd.merge(df_word1, df_cluster_dict, how='left', on=['cluster_3'])

In [150]:
df_word_all[df_word_all['word_2'].str.contains("advertising")].sort_values(by=['cluster_meaning'])

         word   word_2  cluster_3            cluster_meaning
1158  gamelan  gamelan  111        Music Equipments/Trainers

In [105]:
df_test['cluster_sets'] = cluster_sets

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
df_test.shape, len(cluster_sets)

((500, 3), 500)

In [107]:
df_test.head()

,text,text2,cluster_sets
0,Provision of Training Programme Courses,provision training programme course,"Community Development, School-related purchases"
1,"Purchase of IT and AV products Ticketing, Travel Services, Tours & Excursions",purchase av product ticket travel service tour excursion,"Laboratory Equipments, Office Supplies/IT Equipments, Professional Advisory Services, Travel"
2,Provision of foldable trapezium-shaped tables with casters Furniture,provision foldable trapezium shaped table caster furniture,"Home Appliances, Renovation, School-related purchases"
3,OYEA 2012 Advertisement in The Straits Times. Advertising Services,oyea advertisement strait time advertising service,"Courses, Printed Media, Professional Advisory Services, Travel"
4,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST). Courses,provision professional service design delivery strategic alignment workshop leader academy singapore teacher ast course,"Community Development, Courses, Laboratory Equipments, Non-Engineering Services, Printed Media, Professional Advisory Services, School-related purchases"

In [122]:
df_word_all.shape

(9095, 4)

In [295]:
df2.shape[0]

291020

In [297]:
583*500

291500

In [304]:
#batch data at 1000 per pass
t = time()
batching_size = 500
input_list = df2.text2.tolist()
no_of_batches = int(np.ceil(len(input_list)/batching_size))
no_of_batches
cluster_set_list = []
for i in range(no_of_batches):
    cluster_set_list+= [cluster_set(str(doc)) for doc in nlp.pipe(input_list[i*batching_size:(i+1)*batching_size], batch_size=5000, n_threads=-1)]
    print('Time to cluster for {}th iterations: {} mins'.format(i,round((time() - t) / 60, 2)),'|data left:',len(input_list)-(i+1)*batching_size)

Time to cluster for 0th iterations: 0.18 mins |data left: 290520
Time to cluster for 1th iterations: 0.33 mins |data left: 290020
Time to cluster for 2th iterations: 0.48 mins |data left: 289520
Time to cluster for 3th iterations: 0.65 mins |data left: 289020
Time to cluster for 4th iterations: 0.76 mins |data left: 288520
Time to cluster for 5th iterations: 0.96 mins |data left: 288020
Time to cluster for 6th iterations: 1.07 mins |data left: 287520
Time to cluster for 7th iterations: 1.25 mins |data left: 287020
Time to cluster for 8th iterations: 1.39 mins |data left: 286520
Time to cluster for 9th iterations: 1.57 mins |data left: 286020
Time to cluster for 10th iterations: 1.72 mins |data left: 285520
Time to cluster for 11th iterations: 1.88 mins |data left: 285020
Time to cluster for 12th iterations: 2.02 mins |data left: 284520
Time to cluster for 13th iterations: 2.22 mins |data left: 284020
Time to cluster for 14th iterations: 2.35 mins |data left: 283520
Time to cluster for 15th iterations: 2.52 mins |data left: 283020
Time to cluster for 16th iterations: 2.71 mins |data left: 282520
Time to cluster for 17th iterations: 2.87 mins |data left: 282020
Time to cluster for 18th iterations: 3.07 mins |data left: 281520
Time to cluster for 19th iterations: 3.2 mins |data left: 281020
Time to cluster for 20th iterations: 3.37 mins |data left: 280520
Time to cluster for 21th iterations: 3.54 mins |data left: 280020
Time to cluster for 22th iterations: 3.73 mins |data left: 279520
Time to cluster for 23th iterations: 3.93 mins |data left: 279020
Time to cluster for 24th iterations: 4.05 mins |data left: 278520
Time to cluster for 25th iterations: 4.24 mins |data left: 278020
Time to cluster for 26th iterations: 4.33 mins |data left: 277520
Time to cluster for 27th iterations: 4.53 mins |data left: 277020
Time to cluster for 28th iterations: 4.64 mins |data left: 276520
Time to cluster for 29th iterations: 4.86 mins |data left: 276020
Time to cluster for 30th iterations: 4.96 mins |data left: 275520
Time to cluster for 31th iterations: 5.18 mins |data left: 275020
Time to cluster for 32th iterations: 5.33 mins |data left: 274520
Time to cluster for 33th iterations: 5.5 mins |data left: 274020
Time to cluster for 34th iterations: 5.7 mins |data left: 273520
Time to cluster for 35th iterations: 5.82 mins |data left: 273020
Time to cluster for 36th iterations: 6.0 mins |data left: 272520
Time to cluster for 37th iterations: 6.16 mins |data left: 272020
Time to cluster for 38th iterations: 6.3 mins |data left: 271520
Time to cluster for 39th iterations: 6.51 mins |data left: 271020
Time to cluster for 40th iterations: 6.67 mins |data left: 270520
Time to cluster for 41th iterations: 6.82 mins |data left: 270020
Time to cluster for 42th iterations: 6.99 mins |data left: 269520
Time to cluster for 43th iterations: 7.1 mins |data left: 269020
Time to cluster for 44th iterations: 7.27 mins |data left: 268520
Time to cluster for 45th iterations: 7.41 mins |data left: 268020
Time to cluster for 46th iterations: 7.59 mins |data left: 267520
Time to cluster for 47th iterations: 7.75 mins |data left: 267020
Time to cluster for 48th iterations: 7.98 mins |data left: 266520
Time to cluster for 49th iterations: 8.11 mins |data left: 266020
Time to cluster for 50th iterations: 8.31 mins |data left: 265520
Time to cluster for 51th iterations: 8.43 mins |data left: 265020
Time to cluster for 52th iterations: 8.63 mins |data left: 264520
Time to cluster for 53th iterations: 8.74 mins |data left: 264020
Time to cluster for 54th iterations: 8.97 mins |data left: 263520
Time to cluster for 55th iterations: 9.15 mins |data left: 263020
Time to cluster for 56th iterations: 9.29 mins |data left: 262520
Time to cluster for 57th iterations: 9.48 mins |data left: 262020
Time to cluster for 58th iterations: 9.59 mins |data left: 261520
Time to cluster for 59th iterations: 9.78 mins |data left: 261020
Time to cluster for 60th iterations: 9.91 mins |data left: 260520
Time to cluster for 61th iterations: 10.13 mins |data left: 260020
Time to cluster for 62th iterations: 10.32 mins |data left: 259520
Time to cluster for 63th iterations: 10.46 mins |data left: 259020
Time to cluster for 64th iterations: 10.64 mins |data left: 258520
Time to cluster for 65th iterations: 10.77 mins |data left: 258020
Time to cluster for 66th iterations: 10.96 mins |data left: 257520
Time to cluster for 67th iterations: 11.09 mins |data left: 257020
Time to cluster for 68th iterations: 11.32 mins |data left: 256520
Time to cluster for 69th iterations: 11.43 mins |data left: 256020
Time to cluster for 70th iterations: 11.64 mins |data left: 255520
Time to cluster for 71th iterations: 11.76 mins |data left: 255020
Time to cluster for 72th iterations: 11.92 mins |data left: 254520
Time to cluster for 73th iterations: 12.1 mins |data left: 254020
Time to cluster for 74th iterations: 12.29 mins |data left: 253520
Time to cluster for 75th iterations: 12.46 mins |data left: 253020
Time to cluster for 76th iterations: 12.59 mins |data left: 252520
Time to cluster for 77th iterations: 12.8 mins |data left: 252020
Time to cluster for 78th iterations: 12.94 mins |data left: 251520
Time to cluster for 79th iterations: 13.05 mins |data left: 251020
Time to cluster for 80th iterations: 13.24 mins |data left: 250520
Time to cluster for 81th iterations: 13.36 mins |data left: 250020
Time to cluster for 82th iterations: 13.53 mins |data left: 249520
Time to cluster for 83th iterations: 13.68 mins |data left: 249020
Time to cluster for 84th iterations: 13.78 mins |data left: 248520
Time to cluster for 85th iterations: 13.99 mins |data left: 248020
Time to cluster for 86th iterations: 14.11 mins |data left: 247520
Time to cluster for 87th iterations: 14.29 mins |data left: 247020
Time to cluster for 88th iterations: 14.41 mins |data left: 246520
Time to cluster for 89th iterations: 14.61 mins |data left: 246020
Time to cluster for 90th iterations: 14.75 mins |data left: 245520
Time to cluster for 91th iterations: 14.91 mins |data left: 245020
Time to cluster for 92th iterations: 15.07 mins |data left: 244520
Time to cluster for 93th iterations: 15.18 mins |data left: 244020
Time to cluster for 94th iterations: 15.38 mins |data left: 243520
Time to cluster for 95th iterations: 15.48 mins |data left: 243020
Time to cluster for 96th iterations: 15.63 mins |data left: 242520
Time to cluster for 97th iterations: 15.79 mins |data left: 242020
Time to cluster for 98th iterations: 15.91 mins |data left: 241520
Time to cluster for 99th iterations: 17.18 mins |data left: 241020
Time to cluster for 100th iterations: 17.33 mins |data left: 240520
Time to cluster for 101th iterations: 17.45 mins |data left: 240020
Time to cluster for 102th iterations: 17.59 mins |data left: 239520
Time to cluster for 103th iterations: 17.72 mins |data left: 239020
Time to cluster for 104th iterations: 17.87 mins |data left: 238520
Time to cluster for 105th iterations: 18.02 mins |data left: 238020
Time to cluster for 106th iterations: 18.19 mins |data left: 237520
Time to cluster for 107th iterations: 18.34 mins |data left: 237020
Time to cluster for 108th iterations: 18.49 mins |data left: 236520
Time to cluster for 109th iterations: 18.66 mins |data left: 236020
Time to cluster for 110th iterations: 18.78 mins |data left: 235520
Time to cluster for 111th iterations: 18.96 mins |data left: 235020
Time to cluster for 112th iterations: 19.1 mins |data left: 234520
Time to cluster for 113th iterations: 19.22 mins |data left: 234020
Time to cluster for 114th iterations: 19.43 mins |data left: 233520
Time to cluster for 115th iterations: 19.63 mins |data left: 233020
Time to cluster for 116th iterations: 19.75 mins |data left: 232520
Time to cluster for 117th iterations: 19.91 mins |data left: 232020
Time to cluster for 118th iterations: 20.04 mins |data left: 231520
Time to cluster for 119th iterations: 20.22 mins |data left: 231020
Time to cluster for 120th iterations: 20.38 mins |data left: 230520
Time to cluster for 121th iterations: 20.52 mins |data left: 230020
Time to cluster for 122th iterations: 20.72 mins |data left: 229520
Time to cluster for 123th iterations: 20.86 mins |data left: 229020

Time to cluster for 124th iterations: 21.02 mins |data left: 228520
Time to cluster for 125th iterations: 21.16 mins |data left: 228020
Time to cluster for 126th iterations: 21.31 mins |data left: 227520
Time to cluster for 127th iterations: 21.46 mins |data left: 227020
Time to cluster for 128th iterations: 21.62 mins |data left: 226520
Time to cluster for 129th iterations: 21.8 mins |data left: 226020
Time to cluster for 130th iterations: 21.96 mins |data left: 225520
Time to cluster for 131th iterations: 22.17 mins |data left: 225020
Time to cluster for 132th iterations: 22.29 mins |data left: 224520
Time to cluster for 133th iterations: 22.47 mins |data left: 224020
Time to cluster for 134th iterations: 22.59 mins |data left: 223520
Time to cluster for 135th iterations: 22.74 mins |data left: 223020
Time to cluster for 136th iterations: 22.88 mins |data left: 222520
Time to cluster for 137th iterations: 23.05 mins |data left: 222020
Time to cluster for 138th iterations: 23.23 mins |data left: 221520
Time to cluster for 139th iterations: 23.4 mins |data left: 221020
Time to cluster for 140th iterations: 23.55 mins |data left: 220520
Time to cluster for 141th iterations: 23.74 mins |data left: 220020
Time to cluster for 142th iterations: 23.85 mins |data left: 219520
Time to cluster for 143th iterations: 24.03 mins |data left: 219020
Time to cluster for 144th iterations: 24.15 mins |data left: 218520
Time to cluster for 145th iterations: 24.34 mins |data left: 218020
Time to cluster for 146th iterations: 24.51 mins |data left: 217520
Time to cluster for 147th iterations: 24.67 mins |data left: 217020
Time to cluster for 148th iterations: 24.81 mins |data left: 216520
Time to cluster for 149th iterations: 24.99 mins |data left: 216020
Time to cluster for 150th iterations: 25.09 mins |data left: 215520
Time to cluster for 151th iterations: 25.28 mins |data left: 215020
Time to cluster for 152th iterations: 25.41 mins |data left: 214520
Time to cluster for 153th iterations: 25.6 mins |data left: 214020
Time to cluster for 154th iterations: 25.78 mins |data left: 213520
Time to cluster for 155th iterations: 25.89 mins |data left: 213020
Time to cluster for 156th iterations: 26.08 mins |data left: 212520
Time to cluster for 157th iterations: 26.21 mins |data left: 212020
Time to cluster for 158th iterations: 26.38 mins |data left: 211520
Time to cluster for 159th iterations: 26.56 mins |data left: 211020
Time to cluster for 160th iterations: 26.7 mins |data left: 210520
Time to cluster for 161th iterations: 26.89 mins |data left: 210020
Time to cluster for 162th iterations: 27.0 mins |data left: 209520
Time to cluster for 163th iterations: 27.19 mins |data left: 209020
Time to cluster for 164th iterations: 27.35 mins |data left: 208520
Time to cluster for 165th iterations: 27.5 mins |data left: 208020
Time to cluster for 166th iterations: 27.69 mins |data left: 207520
Time to cluster for 167th iterations: 27.88 mins |data left: 207020
Time to cluster for 168th iterations: 28.01 mins |data left: 206520
Time to cluster for 169th iterations: 28.16 mins |data left: 206020
Time to cluster for 170th iterations: 28.34 mins |data left: 205520
Time to cluster for 171th iterations: 28.47 mins |data left: 205020
Time to cluster for 172th iterations: 28.69 mins |data left: 204520
Time to cluster for 173th iterations: 28.85 mins |data left: 204020
Time to cluster for 174th iterations: 28.98 mins |data left: 203520
Time to cluster for 175th iterations: 29.16 mins |data left: 203020
Time to cluster for 176th iterations: 29.28 mins |data left: 202520
Time to cluster for 177th iterations: 29.42 mins |data left: 202020
Time to cluster for 178th iterations: 29.59 mins |data left: 201520
Time to cluster for 179th iterations: 29.73 mins |data left: 201020
Time to cluster for 180th iterations: 29.91 mins |data left: 200520
Time to cluster for 181th iterations: 30.08 mins |data left: 200020
Time to cluster for 182th iterations: 30.23 mins |data left: 199520
Time to cluster for 183th iterations: 30.41 mins |data left: 199020
Time to cluster for 184th iterations: 53.73 mins |data left: 198520
Time to cluster for 185th iterations: 53.87 mins |data left: 198020
Time to cluster for 186th iterations: 54.02 mins |data left: 197520
Time to cluster for 187th iterations: 54.17 mins |data left: 197020
Time to cluster for 188th iterations: 54.26 mins |data left: 196520
Time to cluster for 189th iterations: 54.4 mins |data left: 196020
Time to cluster for 190th iterations: 54.51 mins |data left: 195520
Time to cluster for 191th iterations: 54.62 mins |data left: 195020
Time to cluster for 192th iterations: 54.73 mins |data left: 194520
Time to cluster for 193th iterations: 54.85 mins |data left: 194020
Time to cluster for 194th iterations: 54.97 mins |data left: 193520
Time to cluster for 195th iterations: 55.09 mins |data left: 193020
Time to cluster for 196th iterations: 55.19 mins |data left: 192520
Time to cluster for 197th iterations: 55.3 mins |data left: 192020
Time to cluster for 198th iterations: 55.42 mins |data left: 191520
Time to cluster for 199th iterations: 55.53 mins |data left: 191020
Time to cluster for 200th iterations: 55.65 mins |data left: 190520
Time to cluster for 201th iterations: 55.77 mins |data left: 190020
Time to cluster for 202th iterations: 55.88 mins |data left: 189520
Time to cluster for 203th iterations: 55.98 mins |data left: 189020
Time to cluster for 204th iterations: 56.09 mins |data left: 188520
Time to cluster for 205th iterations: 56.19 mins |data left: 188020
Time to cluster for 206th iterations: 56.29 mins |data left: 187520
Time to cluster for 207th iterations: 56.39 mins |data left: 187020
Time to cluster for 208th iterations: 56.49 mins |data left: 186520
Time to cluster for 209th iterations: 56.61 mins |data left: 186020
Time to cluster for 210th iterations: 56.71 mins |data left: 185520
Time to cluster for 211th iterations: 56.84 mins |data left: 185020
Time to cluster for 212th iterations: 56.97 mins |data left: 184520
Time to cluster for 213th iterations: 57.08 mins |data left: 184020
Time to cluster for 214th iterations: 57.19 mins |data left: 183520
Time to cluster for 215th iterations: 57.3 mins |data left: 183020
Time to cluster for 216th iterations: 57.4 mins |data left: 182520
Time to cluster for 217th iterations: 57.5 mins |data left: 182020
Time to cluster for 218th iterations: 57.61 mins |data left: 181520
Time to cluster for 219th iterations: 57.73 mins |data left: 181020
Time to cluster for 220th iterations: 57.86 mins |data left: 180520
Time to cluster for 221th iterations: 57.96 mins |data left: 180020
Time to cluster for 222th iterations: 58.09 mins |data left: 179520
Time to cluster for 223th iterations: 58.19 mins |data left: 179020
Time to cluster for 224th iterations: 58.29 mins |data left: 178520
Time to cluster for 225th iterations: 58.41 mins |data left: 178020
Time to cluster for 226th iterations: 58.51 mins |data left: 177520
Time to cluster for 227th iterations: 58.62 mins |data left: 177020
Time to cluster for 228th iterations: 58.76 mins |data left: 176520
Time to cluster for 229th iterations: 58.89 mins |data left: 176020
Time to cluster for 230th iterations: 59.0 mins |data left: 175520
Time to cluster for 231th iterations: 59.1 mins |data left: 175020
Time to cluster for 232th iterations: 59.2 mins |data left: 174520
Time to cluster for 233th iterations: 59.32 mins |data left: 174020
Time to cluster for 234th iterations: 59.43 mins |data left: 173520
Time to cluster for 235th iterations: 59.56 mins |data left: 173020
Time to cluster for 236th iterations: 59.69 mins |data left: 172520
Time to cluster for 237th iterations: 59.79 mins |data left: 172020
Time to cluster for 238th iterations: 59.89 mins |data left: 171520
Time to cluster for 239th iterations: 59.99 mins |data left: 171020
Time to cluster for 240th iterations: 60.11 mins |data left: 170520
Time to cluster for 241th iterations: 60.23 mins |data left: 170020
Time to cluster for 242th iterations: 60.35 mins |data left: 169520
Time to cluster for 243th iterations: 60.45 mins |data left: 169020
Time to cluster for 244th iterations: 60.57 mins |data left: 168520

Time to cluster for 245th iterations: 60.68 mins |data left: 168020
Time to cluster for 246th iterations: 60.8 mins |data left: 167520
Time to cluster for 247th iterations: 60.92 mins |data left: 167020
Time to cluster for 248th iterations: 61.05 mins |data left: 166520
Time to cluster for 249th iterations: 61.16 mins |data left: 166020
Time to cluster for 250th iterations: 61.28 mins |data left: 165520
Time to cluster for 251th iterations: 61.39 mins |data left: 165020
Time to cluster for 252th iterations: 61.5 mins |data left: 164520
Time to cluster for 253th iterations: 61.64 mins |data left: 164020
Time to cluster for 254th iterations: 61.77 mins |data left: 163520
Time to cluster for 255th iterations: 61.88 mins |data left: 163020
Time to cluster for 256th iterations: 62.0 mins |data left: 162520
Time to cluster for 257th iterations: 62.12 mins |data left: 162020
Time to cluster for 258th iterations: 62.24 mins |data left: 161520
Time to cluster for 259th iterations: 62.39 mins |data left: 161020
Time to cluster for 260th iterations: 62.52 mins |data left: 160520
Time to cluster for 261th iterations: 62.63 mins |data left: 160020
Time to cluster for 262th iterations: 62.74 mins |data left: 159520
Time to cluster for 263th iterations: 62.86 mins |data left: 159020
Time to cluster for 264th iterations: 62.98 mins |data left: 158520
Time to cluster for 265th iterations: 63.12 mins |data left: 158020
Time to cluster for 266th iterations: 63.23 mins |data left: 157520
Time to cluster for 267th iterations: 63.34 mins |data left: 157020
Time to cluster for 268th iterations: 63.46 mins |data left: 156520
Time to cluster for 269th iterations: 63.58 mins |data left: 156020
Time to cluster for 270th iterations: 63.71 mins |data left: 155520
Time to cluster for 271th iterations: 63.84 mins |data left: 155020
Time to cluster for 272th iterations: 63.97 mins |data left: 154520
Time to cluster for 273th iterations: 64.1 mins |data left: 154020
Time to cluster for 274th iterations: 64.22 mins |data left: 153520
Time to cluster for 275th iterations: 64.34 mins |data left: 153020
Time to cluster for 276th iterations: 64.46 mins |data left: 152520
Time to cluster for 277th iterations: 64.6 mins |data left: 152020
Time to cluster for 278th iterations: 64.72 mins |data left: 151520
Time to cluster for 279th iterations: 64.86 mins |data left: 151020
Time to cluster for 280th iterations: 64.99 mins |data left: 150520
Time to cluster for 281th iterations: 65.13 mins |data left: 150020
Time to cluster for 282th iterations: 65.27 mins |data left: 149520
Time to cluster for 283th iterations: 95.74 mins |data left: 149020
Time to cluster for 284th iterations: 95.86 mins |data left: 148520
Time to cluster for 285th iterations: 96.0 mins |data left: 148020
Time to cluster for 286th iterations: 96.09 mins |data left: 147520
Time to cluster for 287th iterations: 96.2 mins |data left: 147020
Time to cluster for 288th iterations: 96.31 mins |data left: 146520
Time to cluster for 289th iterations: 96.41 mins |data left: 146020
Time to cluster for 290th iterations: 96.52 mins |data left: 145520
Time to cluster for 291th iterations: 96.63 mins |data left: 145020
Time to cluster for 292th iterations: 96.75 mins |data left: 144520
Time to cluster for 293th iterations: 129.31 mins |data left: 144020
Time to cluster for 294th iterations: 129.41 mins |data left: 143520
Time to cluster for 295th iterations: 129.57 mins |data left: 143020
Time to cluster for 296th iterations: 129.67 mins |data left: 142520
Time to cluster for 297th iterations: 129.77 mins |data left: 142020
Time to cluster for 298th iterations: 129.88 mins |data left: 141520
Time to cluster for 299th iterations: 129.97 mins |data left: 141020
Time to cluster for 300th iterations: 130.08 mins |data left: 140520
Time to cluster for 301th iterations: 130.19 mins |data left: 140020
Time to cluster for 302th iterations: 130.31 mins |data left: 139520
Time to cluster for 303th iterations: 250.43 mins |data left: 139020
Time to cluster for 304th iterations: 250.56 mins |data left: 138520
Time to cluster for 305th iterations: 250.68 mins |data left: 138020
Time to cluster for 306th iterations: 250.77 mins |data left: 137520
Time to cluster for 307th iterations: 250.87 mins |data left: 137020
Time to cluster for 308th iterations: 250.97 mins |data left: 136520
Time to cluster for 309th iterations: 251.09 mins |data left: 136020
Time to cluster for 310th iterations: 251.2 mins |data left: 135520
Time to cluster for 311th iterations: 251.3 mins |data left: 135020
Time to cluster for 312th iterations: 251.4 mins |data left: 134520
Time to cluster for 313th iterations: 308.53 mins |data left: 134020
Time to cluster for 314th iterations: 308.69 mins |data left: 133520
Time to cluster for 315th iterations: 308.85 mins |data left: 133020
Time to cluster for 316th iterations: 308.97 mins |data left: 132520
Time to cluster for 317th iterations: 309.1 mins |data left: 132020
Time to cluster for 318th iterations: 309.22 mins |data left: 131520
Time to cluster for 319th iterations: 309.33 mins |data left: 131020
Time to cluster for 320th iterations: 309.43 mins |data left: 130520
Time to cluster for 321th iterations: 309.52 mins |data left: 130020
Time to cluster for 322th iterations: 383.4 mins |data left: 129520
Time to cluster for 323th iterations: 383.54 mins |data left: 129020
Time to cluster for 324th iterations: 383.68 mins |data left: 128520
Time to cluster for 325th iterations: 383.82 mins |data left: 128020
Time to cluster for 326th iterations: 383.99 mins |data left: 127520
Time to cluster for 327th iterations: 384.12 mins |data left: 127020
Time to cluster for 328th iterations: 384.24 mins |data left: 126520
Time to cluster for 329th iterations: 384.35 mins |data left: 126020
Time to cluster for 330th iterations: 384.48 mins |data left: 125520
Time to cluster for 331th iterations: 384.59 mins |data left: 125020
Time to cluster for 332th iterations: 384.71 mins |data left: 124520
Time to cluster for 333th iterations: 384.81 mins |data left: 124020
Time to cluster for 334th iterations: 384.92 mins |data left: 123520
Time to cluster for 335th iterations: 385.04 mins |data left: 123020
Time to cluster for 336th iterations: 385.15 mins |data left: 122520
Time to cluster for 337th iterations: 385.26 mins |data left: 122020
Time to cluster for 338th iterations: 385.36 mins |data left: 121520
Time to cluster for 339th iterations: 385.47 mins |data left: 121020
Time to cluster for 340th iterations: 385.58 mins |data left: 120520
Time to cluster for 341th iterations: 385.7 mins |data left: 120020
Time to cluster for 342th iterations: 385.83 mins |data left: 119520
Time to cluster for 343th iterations: 385.94 mins |data left: 119020
Time to cluster for 344th iterations: 386.05 mins |data left: 118520
Time to cluster for 345th iterations: 386.15 mins |data left: 118020
Time to cluster for 346th iterations: 386.28 mins |data left: 117520
Time to cluster for 347th iterations: 386.4 mins |data left: 117020
Time to cluster for 348th iterations: 386.5 mins |data left: 116520
Time to cluster for 349th iterations: 386.6 mins |data left: 116020
Time to cluster for 350th iterations: 386.71 mins |data left: 115520
Time to cluster for 351th iterations: 386.82 mins |data left: 115020
Time to cluster for 352th iterations: 386.95 mins |data left: 114520
Time to cluster for 353th iterations: 387.06 mins |data left: 114020
Time to cluster for 354th iterations: 387.15 mins |data left: 113520
Time to cluster for 355th iterations: 387.25 mins |data left: 113020
Time to cluster for 356th iterations: 387.36 mins |data left: 112520
Time to cluster for 357th iterations: 387.48 mins |data left: 112020
Time to cluster for 358th iterations: 387.59 mins |data left: 111520
Time to cluster for 359th iterations: 387.72 mins |data left: 111020
Time to cluster for 360th iterations: 387.83 mins |data left: 110520
Time to cluster for 361th iterations: 387.93 mins |data left: 110020
Time to cluster for 362th iterations: 388.04 mins |data left: 109520
Time to cluster for 363th iterations: 388.16 mins |data left: 109020
Time to cluster for 364th iterations: 388.26 mins |data left: 108520

Time to cluster for 365th iterations: 388.37 mins |data left: 108020
Time to cluster for 366th iterations: 388.5 mins |data left: 107520
Time to cluster for 367th iterations: 388.62 mins |data left: 107020
Time to cluster for 368th iterations: 388.73 mins |data left: 106520
Time to cluster for 369th iterations: 388.84 mins |data left: 106020
Time to cluster for 370th iterations: 388.94 mins |data left: 105520
Time to cluster for 371th iterations: 389.05 mins |data left: 105020
Time to cluster for 372th iterations: 389.16 mins |data left: 104520
Time to cluster for 373th iterations: 389.26 mins |data left: 104020
Time to cluster for 374th iterations: 389.38 mins |data left: 103520
Time to cluster for 375th iterations: 389.5 mins |data left: 103020
Time to cluster for 376th iterations: 389.62 mins |data left: 102520
Time to cluster for 377th iterations: 389.73 mins |data left: 102020
Time to cluster for 378th iterations: 389.84 mins |data left: 101520
Time to cluster for 379th iterations: 389.95 mins |data left: 101020
Time to cluster for 380th iterations: 390.05 mins |data left: 100520
Time to cluster for 381th iterations: 390.16 mins |data left: 100020
Time to cluster for 382th iterations: 390.26 mins |data left: 99520
Time to cluster for 383th iterations: 390.37 mins |data left: 99020
Time to cluster for 384th iterations: 390.49 mins |data left: 98520
Time to cluster for 385th iterations: 390.61 mins |data left: 98020
Time to cluster for 386th iterations: 390.73 mins |data left: 97520
Time to cluster for 387th iterations: 390.83 mins |data left: 97020
Time to cluster for 388th iterations: 390.93 mins |data left: 96520
Time to cluster for 389th iterations: 391.04 mins |data left: 96020
Time to cluster for 390th iterations: 391.16 mins |data left: 95520
Time to cluster for 391th iterations: 391.28 mins |data left: 95020
Time to cluster for 392th iterations: 391.41 mins |data left: 94520
Time to cluster for 393th iterations: 391.5 mins |data left: 94020
Time to cluster for 394th iterations: 391.62 mins |data left: 93520
Time to cluster for 395th iterations: 391.73 mins |data left: 93020
Time to cluster for 396th iterations: 391.85 mins |data left: 92520
Time to cluster for 397th iterations: 391.98 mins |data left: 92020
Time to cluster for 398th iterations: 392.09 mins |data left: 91520
Time to cluster for 399th iterations: 392.21 mins |data left: 91020
Time to cluster for 400th iterations: 392.31 mins |data left: 90520
Time to cluster for 401th iterations: 392.43 mins |data left: 90020
Time to cluster for 402th iterations: 392.55 mins |data left: 89520
Time to cluster for 403th iterations: 392.67 mins |data left: 89020
Time to cluster for 404th iterations: 392.78 mins |data left: 88520
Time to cluster for 405th iterations: 392.88 mins |data left: 88020
Time to cluster for 406th iterations: 393.0 mins |data left: 87520
Time to cluster for 407th iterations: 393.13 mins |data left: 87020
Time to cluster for 408th iterations: 393.24 mins |data left: 86520
Time to cluster for 409th iterations: 393.35 mins |data left: 86020
Time to cluster for 410th iterations: 393.47 mins |data left: 85520
Time to cluster for 411th iterations: 393.59 mins |data left: 85020
Time to cluster for 412th iterations: 393.71 mins |data left: 84520
Time to cluster for 413th iterations: 393.82 mins |data left: 84020
Time to cluster for 414th iterations: 393.94 mins |data left: 83520
Time to cluster for 415th iterations: 394.06 mins |data left: 83020
Time to cluster for 416th iterations: 394.17 mins |data left: 82520
Time to cluster for 417th iterations: 394.29 mins |data left: 82020
Time to cluster for 418th iterations: 394.41 mins |data left: 81520
Time to cluster for 419th iterations: 394.53 mins |data left: 81020
Time to cluster for 420th iterations: 394.64 mins |data left: 80520
Time to cluster for 421th iterations: 394.76 mins |data left: 80020
Time to cluster for 422th iterations: 394.88 mins |data left: 79520
Time to cluster for 423th iterations: 395.0 mins |data left: 79020
Time to cluster for 424th iterations: 395.1 mins |data left: 78520
Time to cluster for 425th iterations: 395.21 mins |data left: 78020
Time to cluster for 426th iterations: 395.33 mins |data left: 77520
Time to cluster for 427th iterations: 395.46 mins |data left: 77020
Time to cluster for 428th iterations: 395.57 mins |data left: 76520
Time to cluster for 429th iterations: 395.68 mins |data left: 76020
Time to cluster for 430th iterations: 427.13 mins |data left: 75520
Time to cluster for 431th iterations: 427.24 mins |data left: 75020
Time to cluster for 432th iterations: 427.4 mins |data left: 74520
Time to cluster for 433th iterations: 427.51 mins |data left: 74020
Time to cluster for 434th iterations: 427.61 mins |data left: 73520
Time to cluster for 435th iterations: 427.71 mins |data left: 73020
Time to cluster for 436th iterations: 427.82 mins |data left: 72520
Time to cluster for 437th iterations: 427.92 mins |data left: 72020
Time to cluster for 438th iterations: 428.01 mins |data left: 71520
Time to cluster for 439th iterations: 428.13 mins |data left: 71020
Time to cluster for 440th iterations: 428.25 mins |data left: 70520
Time to cluster for 441th iterations: 428.36 mins |data left: 70020
Time to cluster for 442th iterations: 428.46 mins |data left: 69520
Time to cluster for 443th iterations: 428.56 mins |data left: 69020
Time to cluster for 444th iterations: 428.67 mins |data left: 68520
Time to cluster for 445th iterations: 428.78 mins |data left: 68020
Time to cluster for 446th iterations: 428.9 mins |data left: 67520
Time to cluster for 447th iterations: 429.03 mins |data left: 67020
Time to cluster for 448th iterations: 429.14 mins |data left: 66520
Time to cluster for 449th iterations: 549.25 mins |data left: 66020
Time to cluster for 450th iterations: 549.34 mins |data left: 65520
Time to cluster for 451th iterations: 549.49 mins |data left: 65020
Time to cluster for 452th iterations: 549.59 mins |data left: 64520
Time to cluster for 453th iterations: 549.7 mins |data left: 64020
Time to cluster for 454th iterations: 549.81 mins |data left: 63520
Time to cluster for 455th iterations: 549.91 mins |data left: 63020
Time to cluster for 456th iterations: 550.02 mins |data left: 62520
Time to cluster for 457th iterations: 550.13 mins |data left: 62020
Time to cluster for 458th iterations: 550.24 mins |data left: 61520
Time to cluster for 459th iterations: 571.04 mins |data left: 61020
Time to cluster for 460th iterations: 571.18 mins |data left: 60520
Time to cluster for 461th iterations: 571.43 mins |data left: 60020
Time to cluster for 462th iterations: 571.55 mins |data left: 59520
Time to cluster for 463th iterations: 571.66 mins |data left: 59020
Time to cluster for 464th iterations: 571.77 mins |data left: 58520
Time to cluster for 465th iterations: 571.89 mins |data left: 58020
Time to cluster for 466th iterations: 572.0 mins |data left: 57520
Time to cluster for 467th iterations: 572.12 mins |data left: 57020
Time to cluster for 468th iterations: 572.24 mins |data left: 56520
Time to cluster for 469th iterations: 572.34 mins |data left: 56020
Time to cluster for 470th iterations: 572.45 mins |data left: 55520
Time to cluster for 471th iterations: 572.57 mins |data left: 55020
Time to cluster for 472th iterations: 572.68 mins |data left: 54520
Time to cluster for 473th iterations: 572.79 mins |data left: 54020
Time to cluster for 474th iterations: 572.91 mins |data left: 53520
Time to cluster for 475th iterations: 573.01 mins |data left: 53020
Time to cluster for 476th iterations: 573.13 mins |data left: 52520
Time to cluster for 477th iterations: 573.25 mins |data left: 52020
Time to cluster for 478th iterations: 573.35 mins |data left: 51520
Time to cluster for 479th iterations: 573.45 mins |data left: 51020
Time to cluster for 480th iterations: 573.57 mins |data left: 50520
Time to cluster for 481th iterations: 573.69 mins |data left: 50020
Time to cluster for 482th iterations: 573.8 mins |data left: 49520
Time to cluster for 483th iterations: 573.92 mins |data left: 49020
Time to cluster for 484th iterations: 574.03 mins |data left: 48520
Time to cluster for 485th iterations: 574.15 mins |data left: 48020

Time to cluster for 486th iterations: 574.26 mins |data left: 47520
Time to cluster for 487th iterations: 574.37 mins |data left: 47020
Time to cluster for 488th iterations: 574.47 mins |data left: 46520
Time to cluster for 489th iterations: 574.59 mins |data left: 46020
Time to cluster for 490th iterations: 574.69 mins |data left: 45520
Time to cluster for 491th iterations: 574.81 mins |data left: 45020
Time to cluster for 492th iterations: 574.92 mins |data left: 44520
Time to cluster for 493th iterations: 575.02 mins |data left: 44020
Time to cluster for 494th iterations: 575.12 mins |data left: 43520
Time to cluster for 495th iterations: 575.23 mins |data left: 43020
Time to cluster for 496th iterations: 575.35 mins |data left: 42520
Time to cluster for 497th iterations: 575.47 mins |data left: 42020
Time to cluster for 498th iterations: 575.57 mins |data left: 41520
Time to cluster for 499th iterations: 575.68 mins |data left: 41020
Time to cluster for 500th iterations: 575.8 mins |data left: 40520
Time to cluster for 501th iterations: 575.91 mins |data left: 40020
Time to cluster for 502th iterations: 576.03 mins |data left: 39520
Time to cluster for 503th iterations: 576.15 mins |data left: 39020
Time to cluster for 504th iterations: 576.26 mins |data left: 38520
Time to cluster for 505th iterations: 576.37 mins |data left: 38020
Time to cluster for 506th iterations: 576.47 mins |data left: 37520
Time to cluster for 507th iterations: 576.59 mins |data left: 37020
Time to cluster for 508th iterations: 576.71 mins |data left: 36520
Time to cluster for 509th iterations: 576.83 mins |data left: 36020
Time to cluster for 510th iterations: 576.94 mins |data left: 35520
Time to cluster for 511th iterations: 577.04 mins |data left: 35020
Time to cluster for 512th iterations: 577.17 mins |data left: 34520
Time to cluster for 513th iterations: 577.29 mins |data left: 34020
Time to cluster for 514th iterations: 577.4 mins |data left: 33520
Time to cluster for 515th iterations: 577.51 mins |data left: 33020
Time to cluster for 516th iterations: 577.63 mins |data left: 32520
Time to cluster for 517th iterations: 577.76 mins |data left: 32020
Time to cluster for 518th iterations: 577.87 mins |data left: 31520
Time to cluster for 519th iterations: 577.99 mins |data left: 31020
Time to cluster for 520th iterations: 578.11 mins |data left: 30520
Time to cluster for 521th iterations: 578.24 mins |data left: 30020
Time to cluster for 522th iterations: 578.35 mins |data left: 29520
Time to cluster for 523th iterations: 578.47 mins |data left: 29020
Time to cluster for 524th iterations: 578.59 mins |data left: 28520
Time to cluster for 525th iterations: 578.7 mins |data left: 28020
Time to cluster for 526th iterations: 578.82 mins |data left: 27520
Time to cluster for 527th iterations: 578.94 mins |data left: 27020
Time to cluster for 528th iterations: 579.05 mins |data left: 26520
Time to cluster for 529th iterations: 579.18 mins |data left: 26020
Time to cluster for 530th iterations: 579.31 mins |data left: 25520
Time to cluster for 531th iterations: 579.44 mins |data left: 25020
Time to cluster for 532th iterations: 579.57 mins |data left: 24520
Time to cluster for 533th iterations: 579.71 mins |data left: 24020
Time to cluster for 534th iterations: 579.82 mins |data left: 23520
Time to cluster for 535th iterations: 579.97 mins |data left: 23020
Time to cluster for 536th iterations: 580.09 mins |data left: 22520
Time to cluster for 537th iterations: 580.21 mins |data left: 22020
Time to cluster for 538th iterations: 580.34 mins |data left: 21520
Time to cluster for 539th iterations: 580.46 mins |data left: 21020
Time to cluster for 540th iterations: 580.6 mins |data left: 20520
Time to cluster for 541th iterations: 580.73 mins |data left: 20020
Time to cluster for 542th iterations: 580.86 mins |data left: 19520
Time to cluster for 543th iterations: 580.99 mins |data left: 19020
Time to cluster for 544th iterations: 581.11 mins |data left: 18520
Time to cluster for 545th iterations: 581.25 mins |data left: 18020
Time to cluster for 546th iterations: 581.38 mins |data left: 17520
Time to cluster for 547th iterations: 581.51 mins |data left: 17020
Time to cluster for 548th iterations: 581.65 mins |data left: 16520
Time to cluster for 549th iterations: 581.81 mins |data left: 16020
Time to cluster for 550th iterations: 581.92 mins |data left: 15520
Time to cluster for 551th iterations: 582.06 mins |data left: 15020
Time to cluster for 552th iterations: 582.18 mins |data left: 14520
Time to cluster for 553th iterations: 582.32 mins |data left: 14020
Time to cluster for 554th iterations: 582.45 mins |data left: 13520
Time to cluster for 555th iterations: 614.29 mins |data left: 13020
Time to cluster for 556th iterations: 614.42 mins |data left: 12520
Time to cluster for 557th iterations: 614.59 mins |data left: 12020
Time to cluster for 558th iterations: 614.7 mins |data left: 11520
Time to cluster for 559th iterations: 614.81 mins |data left: 11020
Time to cluster for 560th iterations: 614.97 mins |data left: 10520
Time to cluster for 561th iterations: 615.11 mins |data left: 10020
Time to cluster for 562th iterations: 615.24 mins |data left: 9520
Time to cluster for 563th iterations: 615.36 mins |data left: 9020
Time to cluster for 564th iterations: 615.5 mins |data left: 8520
Time to cluster for 565th iterations: 615.62 mins |data left: 8020
Time to cluster for 566th iterations: 615.77 mins |data left: 7520
Time to cluster for 567th iterations: 635.25 mins |data left: 7020
Time to cluster for 568th iterations: 635.37 mins |data left: 6520
Time to cluster for 569th iterations: 635.54 mins |data left: 6020
Time to cluster for 570th iterations: 635.68 mins |data left: 5520
Time to cluster for 571th iterations: 635.81 mins |data left: 5020
Time to cluster for 572th iterations: 635.9 mins |data left: 4520
Time to cluster for 573th iterations: 636.03 mins |data left: 4020
Time to cluster for 574th iterations: 636.15 mins |data left: 3520
Time to cluster for 575th iterations: 636.28 mins |data left: 3020
Time to cluster for 576th iterations: 636.41 mins |data left: 2520
Time to cluster for 577th iterations: 636.52 mins |data left: 2020
Time to cluster for 578th iterations: 636.65 mins |data left: 1520
Time to cluster for 579th iterations: 636.78 mins |data left: 1020
Time to cluster for 580th iterations: 636.91 mins |data left: 520
Time to cluster for 581th iterations: 637.03 mins |data left: 20
Time to cluster for 582th iterations: 637.03 mins |data left: -480

In [294]:
(no_of_batches)*batching_size- len(input_list)

480

In [351]:
637.03/60

10.617166666666666

In [305]:
cluster_set_list[-1]

'IT Software/License'

In [306]:
input_list[-1]

'renewal backup software licence maintenance software licence'

In [307]:
len(cluster_set_list)

291020

In [309]:
df2['cluster_set'] = cluster_set_list

In [310]:
df2.shape

(291020, 3)

In [311]:
df2.head()

,text,text2,cluster_set
0,Provision of Training Programme Courses,provision training programme course,"Community Development, School-related purchases"
1,"Purchase of IT and AV products Ticketing, Travel Services, Tours & Excursions",purchase av product ticket travel service tour excursion,"Laboratory Equipments, Office Supplies/IT Equipments, Professional Advisory Services, Travel"
2,Provision of foldable trapezium-shaped tables with casters Furniture,provision foldable trapezium shaped table caster furniture,"Home Appliances, Renovation, School-related purchases"
3,OYEA 2012 Advertisement in The Straits Times. Advertising Services,oyea advertisement strait time advertising service,"Courses, Printed Media, Professional Advisory Services, Travel"
4,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST). Courses,provision professional service design delivery strategic alignment workshop leader academy singapore teacher ast course,"Community Development, Courses, Laboratory Equipments, Non-Engineering Services, Printed Media, Professional Advisory Services, School-related purchases"

In [312]:
df2.tail()

,text,text2,cluster_set
291015,"Tender For The Distribution Of 500 Copies Of ""Greening The Vertical Garden City"" And 500 Copies Of ""Vertical Garden City: Singapore"" Publications Publications & Periodicals",tender distribution copy green vertical garden city copy vertical garden city singapore publication publication periodical,"Events, Home Appliances, Outdoor Services/Nature, Printed Media, Travel"
291016,Conceptualisation And Design For URA 2019 Exhibition Professional Services,conceptualisation design ura exhibition professional service,"Courses, Events, Printed Media, Professional Advisory Services"
291017,"Term Contract For Supply, Installation And Maintenance Of Solar Lighted Signboards At Vehicle Parks For A Period Of Three Years With An Option To Extend For Two Years. Building, M&E Maintenance",term contract supply installation maintenance solar lighted signboard vehicle park period year option extend year build m e maintenance,"IT Software/License, Laboratory Equipments, Non-Engineering Services, Renovation, School-related purchases"
291018,"Term Contract For Electrical Minor Works For Maintenance Of Lighting Systems In Vehicle Parks For A Period Of Three (3) Years With An Option To Extend For Two (2) Years Building, M&E Maintenance",term contract electrical minor work maintenance light system vehicle park period year option extend year build m e maintenance,"Engineering Services/Equipments, IT Software/License, Laboratory Equipments, Non-Engineering Services, Renovation, Urban Development"
291019,Renewal Of Backup Software Licences Maintenance Softwares & Licences,renewal backup software licence maintenance software licence,IT Software/License

In [313]:
#save cluster_set
df2.to_csv('procurement_enterprise_sg4.csv', index=False)

In [328]:
df_test.tail()

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year,text
95,96,SCSS: Applications are invited to supply a Percussion Tutor for School Brass Band. Schedule: Every Friday from 1300 hrs to 1830 hrs. Period: 1 Jan 2012 to 31 Dec 2012. Candidates to be suitably qualified and have vast experience with school bands.,"Data Entry, Supply of Manpower Services",Services,January,2012,"SCSS: Applications are invited to supply a Percussion Tutor for School Brass Band. Schedule: Every Friday from 1300 hrs to 1830 hrs. Period: 1 Jan 2012 to 31 Dec 2012. Candidates to be suitably qualified and have vast experience with school bands. Data Entry, Supply of Manpower Services"
96,97,Swimming CCA Coach - 2012,Professional Services,Services,January,2012,Swimming CCA Coach - 2012 Professional Services
97,98,Badminton Recreational - 2012,"Data Entry, Supply of Manpower Services",Services,January,2012,"Badminton Recreational - 2012 Data Entry, Supply of Manpower Services"
98,99,CLDDS Audio Broadcasting & News Reporting CCA 2012,"AV Equipment, Photographic Equipment & Accessories","Furniture, Office Equipment & Audio-Visual",January,2012,"CLDDS Audio Broadcasting & News Reporting CCA 2012 AV Equipment, Photographic Equipment & Accessories"
99,100,Badminton CCA (School Team) 2012,"Data Entry, Supply of Manpower Services",Services,January,2012,"Badminton CCA (School Team) 2012 Data Entry, Supply of Manpower Services"

In [322]:
df3 = pd.merge(df, df1, how='left', on=['s/n'])

In [323]:
df3.head()

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year,text
0,1,Provision of Training Programme,Courses,Administration & Training,January,2012,Provision of Training Programme Courses
1,2,Purchase of IT and AV products,"Ticketing, Travel Services, Tours & Excursions",Transportation,January,2012,"Purchase of IT and AV products Ticketing, Travel Services, Tours & Excursions"
2,3,Provision of foldable trapezium-shaped tables with casters,Furniture,"Furniture, Office Equipment & Audio-Visual",January,2012,Provision of foldable trapezium-shaped tables with casters Furniture
3,4,OYEA 2012 Advertisement in The Straits Times.,Advertising Services,Services,January,2012,OYEA 2012 Advertisement in The Straits Times. Advertising Services
4,5,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST).,Courses,Administration & Training,January,2012,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST). Courses

In [330]:
df_test = df3.head(10000)

In [334]:
df4 = pd.merge(df3, df2, how='left', on=['text'])

In [335]:
df4.shape

(311284, 9)

In [336]:
df4.head()

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year,text,text2,cluster_set
0,1,Provision of Training Programme,Courses,Administration & Training,January,2012,Provision of Training Programme Courses,provision training programme course,"Community Development, School-related purchases"
1,2,Purchase of IT and AV products,"Ticketing, Travel Services, Tours & Excursions",Transportation,January,2012,"Purchase of IT and AV products Ticketing, Travel Services, Tours & Excursions",purchase av product ticket travel service tour excursion,"Laboratory Equipments, Office Supplies/IT Equipments, Professional Advisory Services, Travel"
2,3,Provision of foldable trapezium-shaped tables with casters,Furniture,"Furniture, Office Equipment & Audio-Visual",January,2012,Provision of foldable trapezium-shaped tables with casters Furniture,provision foldable trapezium shaped table caster furniture,"Home Appliances, Renovation, School-related purchases"
3,4,OYEA 2012 Advertisement in The Straits Times.,Advertising Services,Services,January,2012,OYEA 2012 Advertisement in The Straits Times. Advertising Services,oyea advertisement strait time advertising service,"Courses, Printed Media, Professional Advisory Services, Travel"
4,5,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST).,Courses,Administration & Training,January,2012,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST). Courses,provision professional service design delivery strategic alignment workshop leader academy singapore teacher ast course,"Community Development, Courses, Laboratory Equipments, Non-Engineering Services, Printed Media, Professional Advisory Services, School-related purchases"

In [337]:
df4.tail()

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year,text,text2,cluster_set
311279,311280,Conceptualisation And Design For URA 2019 Exhibition,Professional Services,Services,December,2018,Conceptualisation And Design For URA 2019 Exhibition Professional Services,conceptualisation design ura exhibition professional service,"Courses, Events, Printed Media, Professional Advisory Services"
311280,311281,"Term Contract For Supply, Installation And Maintenance Of Solar Lighted Signboards At Vehicle Parks For A Period Of Three Years With An Option To Extend For Two Years.","Building, M&E Maintenance",Facilities Management,December,2018,"Term Contract For Supply, Installation And Maintenance Of Solar Lighted Signboards At Vehicle Parks For A Period Of Three Years With An Option To Extend For Two Years. Building, M&E Maintenance",term contract supply installation maintenance solar lighted signboard vehicle park period year option extend year build m e maintenance,"IT Software/License, Laboratory Equipments, Non-Engineering Services, Renovation, School-related purchases"
311281,311282,Term Contract For Electrical Minor Works For Maintenance Of Lighting Systems In Vehicle Parks For A Period Of Three (3) Years With An Option To Extend For Two (2) Years,"Building, M&E Maintenance",Facilities Management,December,2018,"Term Contract For Electrical Minor Works For Maintenance Of Lighting Systems In Vehicle Parks For A Period Of Three (3) Years With An Option To Extend For Two (2) Years Building, M&E Maintenance",term contract electrical minor work maintenance light system vehicle park period year option extend year build m e maintenance,"Engineering Services/Equipments, IT Software/License, Laboratory Equipments, Non-Engineering Services, Renovation, Urban Development"
311282,311283,Term Contract For Soil Investigation Works For A Period Of Two (2) Years With An Option To Extend For Another One (1) Year,Soil Investigation & Stabilization,Construction,December,2018,Term Contract For Soil Investigation Works For A Period Of Two (2) Years With An Option To Extend For Another One (1) Year Soil Investigation & Stabilization,term contract soil investigation work period year option extend year soil investigation stabilization,"Outdoor Services/Nature, Professional Advisory Services, Urban Development"
311283,311284,Renewal Of Backup Software Licences Maintenance,Softwares & Licences,IT & Telecommunication,December,2018,Renewal Of Backup Software Licences Maintenance Softwares & Licences,renewal backup software licence maintenance software licence,IT Software/License

In [340]:
df4.isnull().sum()

s/n                      0
Quotation Description    0
Category                 5
Main Category            0
Award Month              0
Award Year               0
text                     5
text2                    285
cluster_set              285
dtype: int64

In [343]:
df_dup = df4[['text']]
df_dup[df_dup.duplicated()]

                                                                                                                                                                                                                                                                                                                                                                                                                                               text
192     Basketball Coach 2012  Data Entry, Supply of Manpower Services
403     Invitation To Quote: Co-Designing of Learning Package for Programme for Active Learning (PAL) Visual Arts  Courses
483     Requirement : 1) Refer to attached document for program specific requirements. 2) Weekly 1 hr- 1 hr 15 mins session (8 hrs - 10 hrs Module to be completed within 5 Weeks. 3) 1 Trainer:20 Students ratio must be met at all times. 4) Identified Competencies/Outcomes must be assessed by vendor. 5) Note : there is only one Mac Lab. 6) Apps designed by students must be published on Apples iTune Store for iPad/iPhone use.  Courses
485     Requirement : 1) Refer to attached document for prog specific requirement. 2) Weekly 1 hr-1 hr 15 mins session (5 hrs- 6 hrs 15 mins Module to be completed within 5 Weeks. 3) 1 Trainer:20 Students ratio must be met at all times. 4) Identified Competencies/Outcomes must be assessed by vendor. 5) Note:There is only one Mac Lab. 6) Apps designed by students must be published on Apples iTune Store for iPad/iPhone use.  Courses
820     Basketball Girls Intructor for 2012. To quote price base on hourly rate. To conduct Basketball CCA training every Monday and Wednesday 3.30pm-5pm. Subject to changes according to school plan.  Data Entry, Supply of Manpower Services
1390    Invitation to Quote - Supply and installation of Galvanised Fencing with 5-layer net and Concrete Footing for training of Track & Field throwing events.  Fencing & Ironworks
1407    QUOTATION FOR SUPPLY OF INSTRUCTOR FOR MUSIC CURRICULUM (AMIS) FOR PEI HWA PRESBYTERIAN PRIMARY SCHOOL  Data Entry, Supply of Manpower Services
1454    Symphonic Band  Professional Services
1535    Innova Junior College - Supply of Basketball Instructor for our Basketball CCA for the period from 1 January 2012 to 31 December 2012 with an option to extend the contract for another year in 2013.  Professional Services
1571    Concert Band (SYF) training for Y2012 for St.Anthony's Canossian Pri School.  Courses
1821    Provision of instructor service for 2012 Angklung CCA at Pei Tong Primary School (1-year contract)  Data Entry, Supply of Manpower Services
1849    Engagement of instructor for Chinese Orchestra for Jurong Secondary School from January 2012 to June 2013 with option to extend for 6 months in 2013  Data Entry, Supply of Manpower Services
1854    Engagement of coach for Rugby Team for Jurong Secondary School from January 2012 to December 2012 with option to extend 1 year in 2013.  Data Entry, Supply of Manpower Services
1872    Badminton Coach for Canberra Secondary School 2012  Data Entry, Supply of Manpower Services
1877    Chinese Dance Instructor 2012  Professional Services
2156    To organise HandBall for Outram Secondary School's NT Course Enhanced Character Programme.  Courses
2161    QUOTATION FOR SUPPLY OF INSTRUCTOR IN MODERN DANCE  Data Entry, Supply of Manpower Services
2214    Pasir Ris Priamry School - Source for Guzheng Instructor.  Data Entry, Supply of Manpower Services
2224    Pasir Ris Priamry School - Source for Chinese Dance Instructor.  Data Entry, Supply of Manpower Services
2228    Pasir Ris Primary School - P1 Investiture file.  Office Supplies & Stationery
2232    Soccer Instructor 2012  Data Entry, Supply of Manpower Services
2303    Qihua Pri Sch invite quotes to recruit Instructor for Indian Dance (CCA) for year 2012. To quote on per hour basis.  Professional Services
2309    P5 - P6 Meridian Modular Art Programme IV 2012  Professional Services
2325    Ngee Ann Sec - Hiring of Golf Instructor  Data Entry, Supply of Manpower Services
2346    Ngee Ann Sec - Drama Club Instructor  Data Entry, Supply of Manpower Services
2354    Supply And Delivery Of Services Of Performing Arts Group Section Instructor(Percussion)For Pasir Ris Secondary School  Professional Services
2368    Invitation to Quote & Supply CCA Performing Arts-Chinese Dance Instructor to North Spring Primary School for a period of 1.5 years from 1 January 2012 to 30 June 2013 with an option to extend another one year.  Data Entry, Supply of Manpower Services
2369    Instructor to conduct coaching for Movement & Dance Society - Indian Dance for Chestnut Drive Sec School in 2012, with an option to extend by another 1 year (2013). Vendor must be able to meet the requirements in the attachments. PO will not be issued to the successful vendor.  Data Entry, Supply of Manpower Services
2370    Provision of coach for 2012 Table Tennis CCA at Pei Tong Primary School (1-year contract)  Data Entry, Supply of Manpower Services
2377    Provision of instructor service for 2012 Angklung CCA at Pei Tong Primary School (1-year contract)  Data Entry, Supply of Manpower Services
...                                                                                                                                             ...
310891  Supply and Installation of Biometric Authentication System  Others
310895  Term Contract for Road Related Facilities, Road Structures & Road Safety Schemes  Civil Engineering
310902  Site Investigation Works for LTA Projects  Soil Investigation & Stabilization
310906  Supply and Delivery of a Corporate Vehicle  Others
310907  Provision of Warehousing and Logistics Services  Storage Services
310927  INVITATION TO TENDER FOR PROVISION OF PROJECT-BASED STATEMENT OF ACCOUNTS VERIFICATION AND CERTIFICATION SERVICES FOR NATIONAL YOUTH COUNCIL FUNDED PROJECTS  Professional Services
310962  PROVISION OF SHUTTLE BUS SERVICE FOR EUNOIA JUNIOR COLLEGE  Bus Hire
310977  INVITATION TO TENDER (ITT) FOR THE SUPPLY OF ELECTRONICS AND ELECTRICAL APPLIANCES  Electrical Appliances & Supplies
311001  Provision of Services for Counselling Programmes  Professional Services
311018  Invitation to Tender for the Provision of Services to Organise a Cruise Event for Singles  Event Organising
311047  Provision of Warehousing and Logistics Services  Storage Services
311055  Vector Control Services in South-Eastern Singapore Zone 1  Pest Management Services
311060  Process Audit Services  Professional Services
311075  TERM CONTRACT FOR MAINTENANCE AND REPAIR OF FITNESS AND PLAYGROUND EQUIPMENT WITHIN THE PREMISES OF NATIONAL PARKS BOARD FOR A PERIOD OF THREE (3) YEARS  Sports & Recreational Equipment
311109  PROPOSED INTERIOR FITTING OUT WORKS TO RESIDENTS' COMMITTEE CENTRES  General Building & Minor Construction Works
311117  TERM CONTRACT FOR MINOR BUILDING, SANITARY AND PLUMBING WORKS AT OUR TAMPINES HUB FOR A PERIOD OF TWO YEARS  Building, M&E Maintenance
311134  TERM CONTRACT FOR MINOR AIR CONDITIONING AND MECHANICAL VENTILATION WORKS AT OUR TAMPINES HUB FOR A PERIOD OF TWO YEARS  Building, M&E Maintenance
311136  Term Contract for Provision of Licensed Electrical Worker (LEW) Services with licensing of Electrical Installations for Community Clubs & Other People's Association's properties in Singapore for a period of two licensing cycles with an option to extend for another three licensing cycles.  Building, M&E Maintenance
311157  Trial Trenching Works for Water Projects  Civil Engineering
311162  Maintenance and Servicing of Supervisory Control and Data Acquisition (SCADA) and Programmable Logic Controllers (PLC) at various Waterworks, NEWater Factories and Outstations  Building, M&E Maintenance
311163  Preventive and Corrective Maintenance of various Online Water Quality Analyzers and Instruments at Waterworks in Singapore  Building, M&E Maintenance
311167  Comprehensive Maintenance Services for Fish Activity Monitoring System and Conventional Fish Tanks  Others
311168  Inspection and Servicing of Electrical Installations in PUB  Building, M&E Maintenance
311172  Software Maintenance of Geographic Information System (GIS) Licenses  Softwares & Licences
311180  Supply of Technical Support Services for the Maintenance of Intelligent Water Management System  IT Services & Software Development
311201  Tender for the Design and Build of E3 Exhibition 2018 Revamp  Others
311209  PROVISION OF GENERAL INSURANCE PROGRAMME FOR SENTOSA DEVELOPMENT CORPORATION FOR A PERIOD OF TWO (2) YEARS  Professional Services
311218  Invitation to Tender for Environmental Site Assessment and Consultancy Services  Professional Services
311225  IS18/0010 Invitation for panellist of Learning Need Analysis (LNA) Consultants  Professional Services
311282  Term Contract For Soil Investigation Works For A Period Of Two (2) Years With An Option To Extend For Another One (1) Year  Soil Investigation & Stabilization

[20075 rows x 1 columns]

In [347]:
df4.text.value_counts(ascending=False)

Provision of Event Management Services  Event Organising                                                                                                                                                                                                                                                                                                                                                                                 42
#NAME?  Courses                                                                                                                                                                                                                                                                                                                                                                                                                          34
Supply and Delivery of Forms  Printing Services                                                                                                                                                                                                                                                                                                                                                                                          31
(dbssubha) Equipment  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                                                    29
Supply & Delivery of Stationery  Office Supplies & Stationery                                                                                                                                                                                                                                                                                                                                                                            27
Supply And Delivery Of Forms  Printing Services                                                                                                                                                                                                                                                                                                                                                                                          26
Supply and Delivery of Stationery  Office Supplies & Stationery                                                                                                                                                                                                                                                                                                                                                                          26
Printing Of Spoil Disposal Tickets  Printing Services                                                                                                                                                                                                                                                                                                                                                                                    19
(dbsws) Equipment  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                                                       16
(dbsmpt) Equipment  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                                                      16
INVITATION FOR QUOTATION FOR MEDIA PLACEMENT AND ARTWORK CREATION OF ADVERTISEMENTS  Advertising Services                                                                                                                                                                                                                                                                                                                                16
Badminton Coach  Data Entry, Supply of Manpower Services                                                                                                                                                                                                                                                                                                                                                                                 15
Provision of Coordinator for Pilot Programme under FamilyMatters@School  Courses                                                                                                                                                                                                                                                                                                                                                         15
Chemicals  Others                                                                                                                                                                                                                                                                                                                                                                                                                        15
(dbsyya) Equipment  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                                                      14
Malay Dance Instructor  Data Entry, Supply of Manpower Services                                                                                                                                                                                                                                                                                                                                                                          13
Chinese Orchestra Instructor  Data Entry, Supply of Manpower Services                                                                                                                                                                                                                                                                                                                                                                    13
Chinese Dance Instructor  Data Entry, Supply of Manpower Services                                                                                                                                                                                                                                                                                                                                                                        13
(dbsyuhao) Equipment  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                                                    12
Provision of Venue and Catering Services  Meeting Venues & Facilities                                                                                                                                                                                                                                                                                                                                                                    12
CO2 Incubator  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                                                           12
Provision of Venue and Catering Package  Meeting Venues & Facilities                                                                                                                                                                                                                                                                                                                                                                     12
Netball Coach  Data Entry, Supply of Manpower Services                                                                                                                                                                                                                                                                                                                                                                                   11
(dbsdjl) Equipment  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                                                      11
Printing & Delivery of Brochures  Printing Services                                                                                                                                                                                                                                                                                                                                                                                      11
Site Investigation Works for LTA Projects  Soil Investigation & Stabilization                                                                                                                                                                                                                                                                                                                                                            11
SUPPLY AND DELIVERY OF IPADS OR EQUIVALENT AND 4G DATA PLAN BUNDLE  Softwares & Licences                                                                                                                                                                                                                                                                                                                                                 11
Relocation of Safe  Moving Services                                                                                                                                                                                                                                                                                                                                                                                                      10
Supply And Delivery Of Forms  Paper                                                                                                                                                                                                                                                                                                                                                                                                      10
(dbswum) Equipment  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                                                      10
                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
Purchase of Data Loggers  Educational Supplies                                                                                                                                                                                                                                                                                                                                                                                           1
St Anthony's Canossian Sec School - Provision of Soundtrack Production course using IT.  Courses                                                                                                                                                                                                                                                                                                                                         1
East View Secondary School 2012: Elective Module on Mobile Applications Development. Pls see attachment.  Courses                                                                                                                                                                                                                                                                                                                        1
TERM CONTRACT FOR THE APPOINTMENT OF INVESTMENT MANAGER(S) FOR SHORT TERM FUND FOR A PERIOD OF TWO (2) YEARS WITH OPTION TO EXTEND TWO (2) FURTHER YEARS ON A YEARLY BASIS  Professional Services                                                                                                                                                                                                                                        1
Provision and Installation of New Access Card Reader System and Comprehensive Maintenance for Security System  Security Equipment & Supplies                                                                                                                                                                                                                                                                                             1
Drama Prog for P1  Courses                                                                                                                                                                                                                                                                                                                                                                                                               1
Supply of Chinese Dance Coach/Instructor for Year 2015 (See Annex A1)  Data Entry, Supply of Manpower Services                                                                                                                                                                                                                                                                                                                           1
Lion Dance CCA Training Programme for Maha Bodhi School in 2018 (with the option to extend to 2019)  Sports & Recreational Equipment                                                                                                                                                                                                                                                                                                     1
Professional Development Refreshment Order (May & June 2018)  Catering Services                                                                                                                                                                                                                                                                                                                                                          1
(cheRncts FW)Bench Top Freeze Dryer for Prof Chung  Laboratory Equipment & Supplies                                                                                                                                                                                                                                                                                                                                                      1
Supply and delivery P4 Robotics Programme in Bendemeer Primary School  Courses                                                                                                                                                                                                                                                                                                                                                           1
Supply and Commissioning of One Unit of Ink Jet Printing System to Singapore Centre for 3D Printing, School of Mechanical and Aerospace Engineering (MAE), Nanyang Technological University (NTU)  Laboratory Equipment & Supplies                                                                                                                                                                                                       1
IT12/0110 - 300 coloured wooden boxes (cubes) having one open face as per Detailed Description attached. For enquiry, please liaise with Mr Isaac Yap @ tel: 67721966.  Furniture                                                                                                                                                                                                                                                        1
To produce corporate video for St Andrew's Junior College, Secondary School and Junior School.  Music & Video                                                                                                                                                                                                                                                                                                                            1
To supply ARECA ARC4036 8-bays 6Gb/s SAS Tower Enclosure with 8 x 2TB Enterprise SATA Hard disk, & ARECA ARC1880LP SAS 6Gbps PCI-e x8 RAID Controller with 512MB Cache  AV Equipment, Photographic Equipment & Accessories                                                                                                                                                                                                               1

In [350]:
#save serial no. mapping
#save cluster_set
df4.to_csv('procurement_enterprise_sg5.csv', index=False)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('procurement_enterprise_sg5.csv')

In [4]:
df.shape

(311284, 9)

In [7]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

Category         5
text             5
text2          285
cluster_set    726
dtype: int64

In [10]:
df[df["text"].isnull()]

,s/n,Quotation Description,Category,Main Category,Award Month,Award Year,text,text2,cluster_set
53247,280038,DRUG TRACE DETECTORS,NaN,Unknown Category,February,2012,NaN,NaN,NaN
112213,107812,Re-certification of SS506 and 2 surveillance a...,NaN,Unknown Category,January,2014,NaN,NaN,NaN
294949,294950,Application Development and Maintenance Servic...,NaN,Unknown Category,March,2015,NaN,NaN,NaN
297588,297589,Supply and Maintenance of Laboratory Analytica...,NaN,Unknown Category,September,2015,NaN,NaN,NaN
306479,306480,Travel Related Services,NaN,Unknown Category,October,2017,NaN,NaN,NaN

In [119]:
t = time()
clusters_in_text = []
# clusters_in_text_meaning = []
for text in df_test.text2:
    clusters = []
    if any(word in text.split() for word in df_word2.word_2):
#         print(text)
        for i in range(len(df_word2)):
            word = df_word2.iloc[i,0]
            
            if len(word.split())>1:
                if (word in text) & (df_word2.iloc[i,1]!=9999):
                    print(word, '|',text, df_word2.iloc[i,1])
                    clusters.append(df_word2.iloc[i,1])
            else:   
                if (word in text.split()) & (df_word2.iloc[i,1]!=9999):
                    clusters.append(df_word2.iloc[i,1])
                    
    clusters = sorted(list(set(clusters)))
    clusters_2 = ", ".join(str(v) for v in clusters)
    clusters_in_text.append(clusters_2)
    
df_test['cluster_set'] = clusters_in_text
print('Time to do mapping: {} mins'.format(round((time() - t) / 60, 2)))
df_test

ticket travel service | purchase av product ticket travel service tour excursion 107
ticket travel servic | purchase av product ticket travel service tour excursion 107
travel service | purchase av product ticket travel service tour excursion 107
advertisement strait | oyea advertisement strait time advertising service 105
advertising service | oyea advertisement strait time advertising service 9
strait time | oyea advertisement strait time advertising service 105
professional service | provision professional service design delivery strategic alignment workshop leader academy singapore teacher ast course 3
professional servic | provision professional service design delivery strategic alignment workshop leader academy singapore teacher ast course 3
strategic planning | strategic planning ssd induction programme course 6
printing service | provision design production delivery food nutrition teaching learning guide printing service 9
teaching learning | provision design production delivery food nutrition teaching learning guide printing service 109
teaching learn | provision design production delivery food nutrition teaching learning guide printing service 109
design production | provision design production delivery food nutrition teaching learning guide printing service 105
Time to do mapping: 0.06 mins

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,s/n,text,text2,cluster_set
0,1,Provision of Training Programme Courses,provision training programme course,"2, 6"
1,2,"Purchase of IT and AV products Ticketing, Travel Services, Tours & Excursions",purchase av product ticket travel service tour excursion,"4, 5, 107, 127"
2,3,Provision of foldable trapezium-shaped tables with casters Furniture,provision foldable trapezium shaped table caster furniture,"2, 120, 128"
3,4,OYEA 2012 Advertisement in The Straits Times. Advertising Services,oyea advertisement strait time advertising service,"5, 9, 105, 107"
4,5,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST). Courses,provision professional service design delivery strategic alignment workshop leader academy singapore teacher ast course,"1, 2, 3, 4, 5, 6, 9, 104, 105, 109"
5,6,Strategic Planning - SSD Induction Programme. Courses,strategic planning ssd induction programme course,"6, 9, 127"
6,7,Staff Development Systems and Processes - SSD Induction Programme. Courses,staff development system process ssd induction programme course,"4, 5, 9, 113, 127"
7,8,Provision of Training Services for Teacher Preparatory Programme (TPP) in 2012. Courses,provision training service teacher preparatory programme tpp course,"2, 5, 6, 109"
8,9,Quarterly Inspection and Annual Certification of Challenge Ropes Courses and Climbing Walls of MOE Labrador Adventure Centre Sports & Recreational Equipment,quarterly inspection annual certification challenge rope course climb wall moe labrador adventure centre sport recreational equipment,"3, 5, 6, 7, 102, 108, 120, 124, 128"
9,10,"Provision for Design, Production and Delivery of Food & Nutrition Teaching and Learning Guides. Printing Services",provision design production delivery food nutrition teaching learning guide printing service,"2, 4, 5, 6, 9, 105, 109, 113"

In [182]:
t = time()

clusters_in_text = []
# clusters_in_text_meaning = []
for text in df_test.text2:
    clusters = []
    if any(word in text.split() for word in df_word3.word_2):
#         print(text) multithread?
        for i in range(len(df_word3)):
            word = df_word3.iloc[i,0]
            if len(word.split())>1:
                if (word in text) & (df_word3.iloc[i,2]!='To Remove'):
#                     print(word, '|',text,'|', df_word3.iloc[i,2])
                    clusters.append(df_word3.iloc[i,2])
            else:   
                if (word in text.split()) & (df_word3.iloc[i,2]!='To Remove'):
                    clusters.append(df_word3.iloc[i,2])
                    
    clusters = sorted(list(set(clusters)))
    clusters_2 = ", ".join(str(v) for v in clusters)
    clusters_in_text.append(clusters_2)
    
df_test['cluster_set'] = clusters_in_text
print('Time to do mapping: {} mins'.format(round((time() - t) / 60, 2)))
df_test

Time to do mapping: 0.32 mins

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,s/n,text,text2,cluster_set
0,1,Provision of Training Programme Courses,provision training programme course,"Awareness & Support, Outdoor"
1,2,"Purchase of IT and AV products Ticketing, Travel Services, Tours & Excursions",purchase av product ticket travel service tour excursion,"Corporate Language, Inspection Works & Tools, Office Supplies/IT Equipments, Travel"
2,3,Provision of foldable trapezium-shaped tables with casters Furniture,provision foldable trapezium shaped table caster furniture,"Home Appliances, Outdoor, Renovation"
3,4,OYEA 2012 Advertisement in The Straits Times. Advertising Services,oyea advertisement strait time advertising service,"Corporate Language, Media Coverage, Printed Media, Travel"
4,5,Provision of Professional Services for the design and delivery of a strategic alignment workshop for leaders of Academy of Singapore Teachers (AST). Courses,provision professional service design delivery strategic alignment workshop leader academy singapore teacher ast course,"Awareness & Support, Corporate Language, Courses/Training, Daily Activities & Utilities, Events, Inspection Works & Tools, Media Coverage, Medical/Laboratory Equipment, Outdoor, Printed Media"
5,6,Strategic Planning - SSD Induction Programme. Courses,strategic planning ssd induction programme course,"Awareness & Support, Media Coverage, Office Supplies/IT Equipments"
6,7,Staff Development Systems and Processes - SSD Induction Programme. Courses,staff development system process ssd induction programme course,"Corporate Language, Events, Inspection Works & Tools, Media Coverage, Office Supplies/IT Equipments"
7,8,Provision of Training Services for Teacher Preparatory Programme (TPP) in 2012. Courses,provision training service teacher preparatory programme tpp course,"Awareness & Support, Corporate Language, Courses/Training, Outdoor"
8,9,Quarterly Inspection and Annual Certification of Challenge Ropes Courses and Climbing Walls of MOE Labrador Adventure Centre Sports & Recreational Equipment,quarterly inspection annual certification challenge rope course climb wall moe labrador adventure centre sport recreational equipment,"Awareness & Support, Corporate Language, Events, Home Appliances, Inspection Works & Tools, Outdoor Services/Nature, Renovation, School CCA, Urban Development"
9,10,"Provision for Design, Production and Delivery of Food & Nutrition Teaching and Learning Guides. Printing Services",provision design production delivery food nutrition teaching learning guide printing service,"Awareness & Support, Corporate Language, Courses/Training, Events, Inspection Works & Tools, Media Coverage, Outdoor, Printed Media"
10,11,Provision of consultancy services to review the level of Corporate Governance of a Government-Aided School. Professional Services,provision consultancy service review level corporate governance government aid school professional service,"Corporate Language, Daily Activities & Utilities, Events, Intelligence & Analytics, Media Coverage, Outdoor, Urban Development"
11,12,Specifications for the programming of interactivities of Tamil Language multimedia reading resources. IT Services & Software Development,specification programming interactivitie tamil language multimedia reading resource service software development,"Corporate Language, Courses/Training, IT Software/License, Intelligence & Analytics, Media Coverage, Music Equipments/Trainers"
12,13,Provision for Purchase of IT Accessories and Software. Softwares & Licences,provision purchase accessory software software licence,"IT Software/License, Medical/Laboratory Equipment, Office Supplies/IT Equipments, Outdoor"
13,14,Waterproofing works (Exposed System) to roof top terrace area (Abseiling Platform Level) at MOE Changi Coast Adventure Centre General Building & Minor Construction Works,waterproof work expose system roof terrace area abseil platform level moe changi coast adventure centre general build minor construction work,"Awareness & Support, Courses/Training, Daily Activities & Utilities, Home Appliances, Inspection Works & Tools, Intelligence & Analytics, Outdoor, Renovation, Urban Development"
14,15,Conducting of Graphic Facilitation Workshop for MOE HQ Officers Courses,conduct graphic facilitation workshop moe hq officer course,"Awareness & Support, Courses/Training, Media Coverage, Printed Media"
15,16,Provision for the Conduct of In-house MBTI Workshop for Humanities Branch on January and February 2012. Courses,provision conduct house mbti workshop humanity branch january february course,"Awareness & Support, Corporate Language, Courses/Training, Media Coverage, Outdoor"
16,17,Purchase of Sibelius 7 (or latest edition) Music Software or Equivalent Music Notation Software Softwares & Licences,purchase sibelius late edition music software equivalent music notation software software licence,"IT Software/License, Music Equipments/Trainers, Office Supplies/IT Equipments"
17,18,Provision of online e-learning programme on 21st Century Literacies for Education Officers IT Services & Software Development,provision online e learning programme st century literacy education officer service software development,"Awareness & Support, Corporate Language, Courses/Training, IT Software/License, Media Coverage, Outdoor"
18,19,"Provision of MacBook Pro 17"" Machines or Equivalent Machines including 3 years Technical Support Service Support Notebooks",provision macbook pro machine equivalent machine include year technical support service support notebook,"Corporate Language, IT Software/License, Medical/Laboratory Equipment, Office Supplies/IT Equipments, Outdoor"
19,20,To install Lightning Risk Alert Warning System Safety & Rescue Equipment,install lightning risk alert warn system safety rescue equipment,"Awareness & Support, Daily Activities & Utilities, Events, IT Software/License, Inspection Works & Tools, Office Supplies/IT Equipments, Renovation"
20,21,Printing and Delivery of Prize Winning Essays & Short Stories (Tamil Language Creative Writing Competition 2011) Printing Services,printing delivery prize win essay short story tamil language creative writing competition printing service,"Awareness & Support, Corporate Language, Courses/Training, Events, Inspection Works & Tools, Media Coverage, Music Equipments/Trainers, Printed Media, School CCA"
21,22,Invitation to Quote - Social and Emotional Learning - Train the Trainers Courses,invitation quote social emotional learning train trainer course,"Awareness & Support, Courses/Training, Events, Outdoor"
22,23,"SPECIFICATIONS FOR THE HOSTING, SUPPORT AND MAINTENANCE OF A TAMIL LANGUAGE PORTAL. IT Services & Software Development",specification host support maintenance tamil language portal service software development,"Corporate Language, Courses/Training, IT Software/License, Music Equipments/Trainers"
23,24,Printing and delivery of MOE Long Service Award (LSA) Certificates (with envelopes) Printing Services,printing delivery moe long service award lsa certificate envelope print service,"Awareness & Support, Corporate Language, Events, Inspection Works & Tools, Intelligence & Analytics, Printed Media"
24,25,"Provision Of Seminar Facilities, Tea Reception And Lunch. Catering Services",provision seminar facility tea reception lunch catering service,"Corporate Language, Events, Outdoor"
25,26,"Printing, Delivery, Collection and Data Entry for Piloting of Systemic Measure for 21CC Printing Services",print delivery collection datum entry pilot systemic measure cc print service,"Corporate Language, Inspection Works & Tools, Intelligence & Analytics, Printed Media"
26,27,"Luggage Bag (with wheels) - 'soft' casing, with laptop compartment. Dimensions : 43cm by 34cm by 24cm. Similar to Samsonite wheeled tote bag, model Profline DLX or equivalent. Others",luggage bag wheel ' soft ' case laptop compartment dimension cm cm cm similar samsonite wheeled tote bag model profline dlx equivalent,"Daily Activities & Utilities, Home Appliances, Inspection Works & Tools, Office Supplies/IT Equipments"
27,28,Production of a Geography Teaching Video Music & Video,production geography teaching video music video,"Courses/Training, Media Coverage, Music Equipments/Trainers, Travel"
28,29,Arts Education Branch Publication Printing Services,art education branch publication printing service,"Awareness & Support, Corporate Language, Media Coverage, Music Equipments/Trainers, Printed Media"
29,30,Procurement of Malay Artefacts - Keris and Jewellery for Malay Language Centre of Singapore (MLCS) Courses,procurement malay artefact keris jewellery malay language centre singapore mlcs course,"Courses/Training, Music Equipments/Trainers, Outdoor, Printed Media"
...,...,...,...,...
70,71,Group Personal Accident Insurance for National Junior College for a period of one year (1 Jan 2012 to 31 Dec 2012) with an option to extend one more year. Professional Services,group personal accident insurance national junior college period year jan dec option extend year professional service,"Awareness & Support, Corporate Language, Events, Media Coverage, School CCA"
71,72,Woodlands Secondary School - Secondary 2 Learning Journey 2012 (Historical & Social aspects of WWII sites) Event Organising,woodland secondary school secondary learn journey historical social aspect wwii site event organise,"Awareness & Support, Courses/Training, Events, IT Software/License, Media Coverage, Outdoor"
72,73,ITQ FOR SCHOOL OUTDOOR ACTIVITIES BUS SERVICES Bus Hire,itq school outdoor activity bus service bus hire,"Corporate Language, Renovation, Urban Development"
73,74,Bedok South Secondary School - Students' Protection Plan 2012 Professional Services,bedok south secondary school student ' protection plan professional service,"Corporate Language, Events, Intelligence & Analytics"
74,75,Geography Fieldwork Resource Equipment Laboratory Equipment & Supplies,geography fieldwork resource equipment laboratory equipment supply,"Corporate Language, Courses/Training, Events, Medical/Laboratory Equipment, Outdoor, Travel"
75,76,"Information Communication Technology (ICT) Executive, from 1 Jan 2012 to 31 Dec 2012 Telecommunication Devices",information communication technology ict executive jan dec telecommunication device,"Awareness & Support, Intelligence & Analytics, Media Coverage, Office Supplies/IT Equipments"
76,77,"A ballet instructor required to conduct lessons in girls' school. Classes to be held in afternoon 2x/week(from beginner onwards). Pupils to be prepared for ballet exams RAD (UK) and for other school-based events. Data Entry, Supply of Manpower Services",ballet instructor require conduct lesson girl ' school class hold afternoon x week beginner onwards pupil prepare ballet exam rad uk school base event datum entry supply manpower service,"Awareness & Support, Corporate Language, Courses/Training, Events, Intelligence & Analytics, Medical/Laboratory Equipment, Music Equipments/Trainers, Outdoor, School CCA"
77,78,Students' Protection Plan 2011 Others,student ' protection plan,"Corporate Language, Intelligence & Analytics"
78,79,Provision of Mathematics Olympiad Training for P3 pupils 2012 (Module 1 ) Courses,provision mathematic olympiad training p pupil module course,"Awareness & Support, Courses/Training, Media Coverage, Outdoor, School CCA"
79,80,Provision of Mathematics Olympiad Training for P4 pupils 2012 (Module 1 ) Courses,provision mathematic olympiad training p pupil module course,"Awareness & Support, Courses/Training, Media Coverage, Outdoor, School CCA"
80,81,Provision of Mathematics Olympiad Training for P5 pupils 2012 (Module 1 ) Courses,provision mathematic olympiad training p pupil module course,"Awareness & Support, Courses/Training, Media Coverage, Outdoor, School CCA"
81,82,Provision of Mathematics Olympiad Training for P6 pupils 2012 (Module 1 ) Courses,provision mathematic olympiad training p pupil module course,"Awareness & Support, Courses/Training, Media Coverage, Outdoor, School CCA"
82,83,Ngee Ann Sec - Sec 3 Overseas Camp Event Organising,ngee ann sec sec overseas camp event organise,"Awareness & Support, Events, Travel"
83,84,"Ngee Ann Sec - Drama Club Instructor Data Entry, Supply of Manpower Services",ngee ann sec drama club instructor datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Music Equipments/Trainers, Outdoor, School CCA"
84,85,"Nan Hua Pri Sch: Provision for School Wireless Broadband Subscription. (Refer to attachment). Data Entry, Supply of Manpower Services",nan hua pri sch provision school wireless broadband subscription refer attachment datum entry supply manpower service,"Corporate Language, IT Software/License, Intelligence & Analytics, Office Supplies/IT Equipments, Outdoor"
85,86,"CHONGFU SCHOOL : SUPPLY & DELIVERY OF FLOORBALL INSTRUCTOR 2012 Data Entry, Supply of Manpower Services",chongfu school supply delivery floorball instructor datum entry supply manpower service,"Corporate Language, Inspection Works & Tools, Intelligence & Analytics, Music Equipments/Trainers, Outdoor, School CCA"
86,87,Invitation to quote for Dance Instructor. All vendors are to read the ITQ specification before bidding. Please quote by hourly basis and provide the neccesary documents together with your proposal for evaluation. Failure to do so may render your ITQ liable for disqualification. Professional Services,invitation quote dance instructor vendor read itq specification bidding quote hourly basis provide neccesary document proposal evaluation failure render itq liable disqualification professional service,"Corporate Language, Courses/Training, Events, Intelligence & Analytics, Music Equipments/Trainers, Outdoor"
87,88,"Engagement of main coach for Basketball Girl Team for Jurong Secondary School from January to December 2012 with option to extend for 1 year. Data Entry, Supply of Manpower Services",engagement main coach basketball girl team jurong secondary school january december option extend year datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Music Equipments/Trainers, Outdoor, School CCA"
88,89,"Engagement of assistant coach for Basketball Boys Team for Jurong Secondary School from January 2012 to December 2012 with option to extend for 1 year. Data Entry, Supply of Manpower Services",engagement assistant coach basketball boy team jurong secondary school january december option extend year datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Outdoor, School CCA"
89,90,"Engagement of coach for Rugby Team for Jurong Secondary School from January 2012 to December 2012 with option to extend 1 year in 2013. Data Entry, Supply of Manpower Services",engagement coach rugby team jurong secondary school january december option extend year datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Outdoor, School CCA"
90,91,"2011: Specification for Chinese Dance Instructor for Yr 2012, Geylang Methodist School (Primary) Data Entry, Supply of Manpower Services",specification chinese dance instructor yr geylang methodist school primary datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Music Equipments/Trainers, Outdoor"
91,92,"2011: To engage CLDS Instructor for Yr 2012, Geylang Methodist School (Primary) Data Entry, Supply of Manpower Services",engage cld instructor yr geylang methodist school primary datum entry supply manpower service,"Corporate Language, Courses/Training, Intelligence & Analytics, Music Equipments/Trainers, Outdoor"
92,93,"Engagement of Choir Instructor from 2 Jan 2012 to December 2013. The school shall have the right to terminate the service by giving one-month notice during the contracted period. Please refer to the attachment for details. Please email to Ms Sim at sim_kim_luan@moe.edu.sg. Pls quote on a per hr basis. Data Entry, Supply of Manpower Services",engagement choir instructor jan december school shall right terminate service give month notice contract period refer attachment detail email ms sim sim_kim_luan moe edu sg pls quote hr basis datum entry supply manpower service,"Awareness & Support, Corporate Language, Intelligence & Analytics, Medical/Laboratory Equipment, Music Equipments/Trainers, Outdoor, Printed Media"
93,94,"CHINESE DANCE INSTRUCTOR FOR COMMONWEALTH SECONDARY SCHOOL FOR THE YEAR 2012 Data Entry, Supply of Manpower Services",chinese dance instructor commonwealth secondary school year datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Music Equipments/Trainers, Outdoor"
94,95,"QUOTATION FOR SUPPLY OF INSTRUCTOR IN MODERN DANCE Data Entry, Supply of Manpower Services",quotation supply instructor modern dance datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Music Equipments/Trainers, Outdoor"
95,96,"SCSS: Applications are invited to supply a Percussion Tutor for School Brass Band. Schedule: Every Friday from 1300 hrs to 1830 hrs. Period: 1 Jan 2012 to 31 Dec 2012. Candidates to be suitably qualified and have vast experience with school bands. Data Entry, Supply of Manpower Services",scss application invite supply percussion tutor school brass band schedule friday hr hrs period jan dec candidate suitably qualified vast experience school band datum entry supply manpower service,"Corporate Language, Courses/Training, IT Software/License, Intelligence & Analytics, Music Equipments/Trainers, Outdoor"
96,97,Swimming CCA Coach - 2012 Professional Services,swimming cca coach professional service,"Corporate Language, Events, School CCA"
97,98,"Badminton Recreational - 2012 Data Entry, Supply of Manpower Services",badminton recreational datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Outdoor, School CCA"
98,99,"CLDDS Audio Broadcasting & News Reporting CCA 2012 AV Equipment, Photographic Equipment & Accessories",cldd audio broadcasting news reporting cca av equipment photographic equipment accessory,"Events, Intelligence & Analytics, Medical/Laboratory Equipment, Music Equipments/Trainers, Office Supplies/IT Equipments, Printed Media, School CCA"
99,100,"Badminton CCA (School Team) 2012 Data Entry, Supply of Manpower Services",badminton cca school team datum entry supply manpower service,"Corporate Language, Intelligence & Analytics, Outdoor, School CCA"

In [250]:
df2.tail()

,s/n,text,text2
311279,311280,Conceptualisation And Design For URA 2019 Exhibition Professional Services,conceptualisation design ura exhibition professional service
311280,311281,"Term Contract For Supply, Installation And Maintenance Of Solar Lighted Signboards At Vehicle Parks For A Period Of Three Years With An Option To Extend For Two Years. Building, M&E Maintenance",term contract supply installation maintenance solar lighted signboard vehicle park period year option extend year build m e maintenance
311281,311282,"Term Contract For Electrical Minor Works For Maintenance Of Lighting Systems In Vehicle Parks For A Period Of Three (3) Years With An Option To Extend For Two (2) Years Building, M&E Maintenance",term contract electrical minor work maintenance light system vehicle park period year option extend year build m e maintenance
311282,311283,Term Contract For Soil Investigation Works For A Period Of Two (2) Years With An Option To Extend For Another One (1) Year Soil Investigation & Stabilization,term contract soil investigation work period year option extend year soil investigation stabilization
311283,311284,Renewal Of Backup Software Licences Maintenance Softwares & Licences,renewal backup software licence maintenance software licence

https://www.quantstart.com/articles/Parallelising-Python-with-Threading-and-Multiprocessing

In [143]:
#!/usr/bin/env python3
# import itertools
# import multiprocessing
t=time()
#Generate values for each parameter
a = range(10)
b = range(10)
c = range(10)
d = range(10)

#Generate a list of tuples where each tuple is a combination of parameters.
#The list will contain all possible combinations of parameters.
paramlist = list(itertools.product(a,b,c,d))

#A function which will process a tuple of parameters
def func(params):
  a = params[0]
  b = params[1]
  c = params[2]
  d = params[3]
  return a*b*c*d

#Generate processes equal to the number of cores
pool = multiprocessing.Pool()

#Distribute the parameter sets evenly across the cores
res  = pool.map(func,paramlist)

print('Time to do mapping: {} mins'.format(round((time() - t) / 60, 2)))
type(res)

Time to do mapping: 0.0 mins

list

In [294]:
df_test = df2[:500]
df_test.shape

(500, 3)

In [77]:
df2.shape[0]/df_test.shape[0]*0.32/60

3.1062186666666673

In [169]:
multiprocessing.cpu_count()

4

In [174]:
#!/usr/bin/env python3
t = time()
# clusters_in_text = []
a = range(len(df_test))
b = range(len(df_word3))
paramlist = list(itertools.product(a,b))

# for j in a:
#     clusters = []
#     text = df_test.iloc[j,2]
#     if any(word in text.split() for word in df_word3.word_2):
# #         print(text)
#         for i in b:
#             word = df_word3.iloc[i,0]

#             if len(word.split())>1:
#                 if (word in text) & (df_word3.iloc[i,2]!='To Remove'):
#                     print(word, '|',text,'|', df_word3.iloc[i,2])
#                     clusters.append(df_word3.iloc[i,2])
#             else:   
#                 if (word in text.split()) & (df_word3.iloc[i,2]!='To Remove'):
#                     clusters.append(df_word3.iloc[i,2])

#     clusters = sorted(list(set(clusters)))
#     clusters_2 = ", ".join(str(v) for v in clusters)
#     clusters_in_text.append(clusters_2)

def func(params):
    j = params[0]
    text = df_test.iloc[j,2]
    
    i = params[1]
    word = df_word3.iloc[i,0]
    cluster = df_word3.iloc[i,2]
     
    if len(word.split())>1:
        if (word in text) & (cluster!='To Remove'):
#             print(word, '|',text,'|', cluster)
            return j, cluster
#             clusters.append(cluster)
    else:   
        if (word in text.split()) & (cluster!='To Remove'):
            return j, cluster
#             clusters.append(cluster)    
   
#Generate processes equal to the number of cores
pool = multiprocessing.Pool(multiprocessing.cpu_count())

#Distribute the parameter sets evenly across the cores
res  = pool.map(func,paramlist)

pool.close()
pool.join()


# df_test['cluster_set'] = clusters_in_text
print('Time to do mapping: {} mins'.format(round((time() - t) / 60, 2)))
# df_test
# set(res)

Time to do mapping: 0.24 mins

In [279]:
df_word3[df_word3.cluster_meaning=='To Remove'].head()

        word_2  cluster_3 cluster_meaning
4   jan         9999       To Remove
10  file        9999       To Remove
15  malan road  9999       To Remove
16  singapore   9999       To Remove
37  science     9999       To Remove

need for phrase senstive cluster detection is not strong since most phrases tend to be in same in the cluster as their root words

In [118]:
cluster_list = [2, 4, 5, 6, 9, 105, 109, 113]
text = 'provision design production delivery food nutrition teaching learning guide printing service'

for i in range(len(df_word2)):
    if (df_word2.iloc[i,0] in text.split()) & (df_word2.iloc[i,1] in cluster_list):
        print(df_word2.iloc[i,0], df_word2.iloc[i,1])

service 5
printing 105
delivery 4
production 9
provision 2
design 105
learning 109
teaching 109
food 113
guide 109
nutrition 6

In [74]:
test1=['program','training']
test1 = 'program training'.split()
test2=['prog','rain']

if any(word in test1 for word in test2):
    print('uff')

In [75]:
test1

['program', 'training']

In [ ]:
df_test